@import "reset";
@import "fonts";


@Green: #39d32d;

.particles_container{
	position: relative;
	overflow: hidden;
	.particles{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}


header.headhesive, header.headhesive--stick{
	position: fixed;
	left: 0;
	
	z-index: 100;
	width: 100%;
	background: #fff;
	top: 0;
	transform: translateY(-100%);
	transition: all 300ms ease-in-out;
}
header.headhesive--stick{
	transform: translateY(0%);
}


body{
	font-family: 'Circe';
	line-height: 1.3;
	color: #1d1e1f;
	p{

	}
	.wrap{
		max-width: 1170px;
		margin: 0 auto;
		position: relative;
		padding: 0 15px;
		box-sizing: border-box;
	}
	a{
		text-decoration: none;
		transition: all 0.3s;
		&:hover{
			transition: all 0.3s;
		}
		&.more__order, &.more__order_green{
			display: block;
			width: 189px;
			height: 55px;
			border-radius: 45px;
			border: 1px solid #1d1e1f;
			line-height: 53px;
			text-align: center;
			color: #1d1e1f;
			&:hover{
				border-color: @Green;
				background: @Green;
				color: #fff;
			}
		}
		&.more__order_green{
			border-color: @Green;
			background: @Green;
			color: #fff;
			&:hover{
				background: lighten(@Green, 10%);
			}
		}
	}
}

a.Toogle_menu{
	display: none!important;
	position: absolute;
	color: #1d1e1f;
	font-size: 22px;
	right: 15px;
	top: 53%;
	transform: translate(0, -50%);
}


.m__menu__{
	position: fixed;
	top: -100%;
	left: 0;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
	background: rgba(6, 6, 6, 0.8);
	visibility: hidden;
	opacity: 0;	
	transition: all 0.4s;
	&.m__menu__active{
		transition: all 0.3s;
		visibility: visible;
		opacity: 1;
		top: 0;
	}
	ul{
		li{
			text-align: center;
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
				margin-top: 35px;
			}
			a{
				font-size: 22px;
				text-transform: uppercase;
				color: #fff;
			}
		}
	}
}

ul.socials{
	display: flex;
	align-items: center;
	li{
		margin-right: 10px;
		&:last-child{
			margin-right: 0;
		}
		a{
			color: #121212;
			font-size: 20px;
			&:hover{
				color: @Green;
			}

		}
		&:nth-child(2){
			a{
				font-size: 18px;
			}
		}
		&:nth-child(3){
			a{
				font-size: 16px;
			}
		}
	}
}


input, textarea, select{
	width: 100%;
	box-sizing: border-box;
	outline: none;
	font-family: inherit;
	border: solid 1px #e8e8e8;
	min-height: 50px;
	border-radius: 25px;
	padding: 0 20px;
	resize: none;
	transition: all 0.3s;
	&:focus{
		transition: all 0.3s;
		border-color: #999;
	}
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #9e9e9e;
	  font-family: inherit;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #9e9e9e;
	  font-family: inherit;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: #9e9e9e;
	  font-family: inherit;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: #9e9e9e;
	  font-family: inherit;
	}

}
	textarea{
		padding-top: 10px;
		min-height: 90px;
	}
	button{
		border: none;
		outline: none;
		font-family: inherit;
		font-weight: 700;
		background: @Green;
		color: #fff;
		font-size: 18px;
		width: 220px;
		height: 55px;
		border-radius: 30px;
		margin: 0 auto;
		display: block;
		transition: all 0.3s;
		&:hover{
			transition: all 0.3s;
			cursor: pointer;
			background: lighten(@Green, 10%);
		}
	}

header{
	border-bottom: 1px solid #efefef;
	.wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 42px;

		ul.nav{
			display: flex;
			max-width: 43%;
			width: 100%;
			padding: 0 15px;
			box-sizing: border-box;
			li{
				margin-right: 20px;
				&:last-child{
					margin-right: 0;
				}
				a{
					text-transform: uppercase;
					font-weight: 700;
					font-size: 14px;
					color: #989696;
					&:hover{
						color: #121212;
					}
				}
			}
			&:first-child{
				justify-content: flex-end;
			}
		}
		ul.socials{
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translate(0, -50%);
		}
		.logo{
			background: #121212;
			padding: 8px 15px 0 15px;
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			top: 0;
			w154
			img{
				max-width: 100%;
				display: block;
			}
		}
	}
}



.home{
	position: relative;
	padding: 80px 0;
	.particles{
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
	}
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		background: url("../images/bg2.jpeg");
		background-position: cover;
		background-position: center top;
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0.05;
	}
	.wrap{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.form_content{
			max-width: 430px;
			width: 100%;
			min-height: 100px;

			background: #fff;
			margin-left: 25px;

			padding: 30px;
			box-sizing: border-box;
			box-shadow: 8px 11px 50px 0px rgba(0, 0, 0, 0.21);
			.el_{
				margin-bottom: 15px;
				text-align: center;
				a{
					font-weight: 600;
					color: #121212;
					font-size: 18px;
					display: inline-block;
					padding: 10px 0 0 0;
					&:hover, &:focus{
						color: #39d32d;
					}
				}
				p{
					text-align: center;
					font-weight: 700;
					font-size: 16px;
					padding-top: 8px;
				}
				label{
					display: flex;
					justify-content: space-between;
					input{
						&:nth-child(1){
							max-width: 70%;
							width: 100%;
						}
						&:nth-child(2){
							max-width: 28%;
							width: 100%;
						}
					}
				}
			}

		}
		.home_contect{
			max-width: 570px;
			h1{
				font-size: 42px;
				font-weight: 700;
				line-height: 0.95;
				margin-bottom: 20px;
				span{
					font-size: 26px;
					display: block;
				}
			}
			p{
				color: #898888;
				font-size: 18px;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
			.order__home{
				display: flex;
				align-items: center;
				padding: 25px 0;
				a{
					&:first-child{
						margin-right: 15px;
					}
				}
			}
		}
	}
}

.title__section{
	margin-bottom: 50px;
	h2{
		font-size: 42px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 10px;
	}
	p{
		text-align: center;
		font-size: 18px;
		opacity: 0.7;
	}
}

.advantages{
	padding: 80px 0 20px 0;
	background: #1d1d1d;
	position: relative;
	.particles{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/bg3.jpg");
		background-position: center;
		background-size: cover;
		opacity: 0.04;
	}
	.title__section{
		color: #fff;
		margin-bottom: 55px;
	}
	.advantages__items{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		.advantages__item{
			max-width: 32%;
			text-align: center;
			color: #fff;
			margin-bottom: 65px;
			.item__ico{
				width: 130px;
				height: 130px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 5px solid @Green;
				box-sizing: border-box;
				border-radius: 50%;
				margin: 0 auto 25px auto;
				img{
					display: block;
				}
			}
			h4{
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			p{
				font-size: 18px;
			}
		}
	}
}




.about{
	padding: 100px 0;
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: url("../images/bg4.jpeg");
		background-size: cover;
		background-position: center;
		opacity: 0.02;
	}
	.title__section{
		margin-bottom: 80px;
	}
	.about__items{
		.about_item{
			display: flex;
			&:nth-child(2){
				position: relative;
				left: 284px;
				margin-top: 25px;
				.ite__s{
					&:nth-child(1){
						.ico{
							&:before{
								content: "";
								position: absolute;
								width: 5px;
								height: 85px;
								background: #1d1d1d;
								left: 50%;
								transform: translate(-50%, 0);
								top: -85px;
								z-index: -1;
							}
						}
					}
					p{
						position: relative;

						&:before{
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 0 10px 10px 10px;
							border-color: transparent transparent @Green transparent;
							position: absolute;
							left: 50%;
							top: -10px;
							transform: translate(-50%, 0);
						}
					}
					
				}	
			}
			.ite__s{
				max-width: 25%;
				width: 100%;
				position: relative;
				&:last-child{
					.ico{
						&:after{
							display: none;
						}
					}
				}
				&:hover{
					p{
						transition: all 0.3s;
						background: @Green;
						color: #fff;

						&:before{
							transition: all 0.3s;
							opacity: 1;
						}
						span{
							&.visible{
								opacity: 0;
							}
							&.hover{
								opacity: 1;
							}
						}
					}
					.ico{
						border-color: @Green;
						color: @Green;
					}
				}
				p{
					text-align: center;
					background: transparent;
					padding: 15px;
					min-height: 80px;
					display: flex;
					align-items: center;
					position: relative;
					font-size: 15px;
					transition: all 0.3s;
					span{
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 15px;
						box-sizing: border-box;
						&.hover{
							opacity: 0;
						}
					}
					&:before{
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 10px 10px 0 10px;
						border-color: @Green transparent transparent transparent;
						position: absolute;
						left: 50%;
						bottom: -10px;
						transform: translate(-50%, 0);
						opacity: 0;
						transition: all 0.3s;
					}

				}
				.ico{
					width: 130px;
					height: 130px;
					border: 5px solid #1d1d1d;
					
					border-radius: 50%;
					box-sizing: border-box;
					margin: 25px auto;
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 48px;
					transition: all 0.3s;
					&:after{
						content: "";
						height: 5px;
						width: 160px;
						background: #1d1d1d;
						position: absolute;
						top: 50%;
						margin-top: -2.5px;
						right: -160px;
						z-index: -1;
					}
				}
			}
		}
	}
}


footer{
	padding: 80px 0 0 0;
	background: #1d1d1d;
	.title__section{
		color: #fff;
	}
	.swiper-container{
		padding: 50px 25px;
		box-sizing: border-box;
	}
	.swiper-button-next, .swiper-button-prev{
		width: 30px!important;
		height: 30px!important;
		background: url("../images/arrow.png")!important;
		opacity: 0.5;
		transition: all 0.3s;
		&:hover{
			transition: all 0.3s;
			opacity: 1;
		}
	}
	.swiper-button-prev{
		transform: scale(-1,1);
		left: -0px!important;
	}
	.swiper-button-next{
		right: 0!important;
	}
	.partners__slider_item{
		padding: 15px 25px;
		box-sizing: border-box;
		display: flex;
		min-height: 45px;
		align-items: center;
		justify-content: center;
		img{
			max-width: 100%;
			transition: all 0.3s;
			&:hover{
				transition: all 0.3s;
				transform: scale(1.1);
			}
		}
	}
	.footer__menu{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 40px 0;
    	border-top: 1px solid rgba(255, 255, 255, 0.5);
    	margin-top: 40px;
		.logo{
			flex-direction: column;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			color: #fff;
			a{
				font-size: 26px;
				font-weight: 700;
				color: #fff;
			}
			span{
				font-size: 12px;
				opacity: 0.7;
				font-weight: 400;
			}
		}
		.menu__f{
			padding: 0 30px;
			box-sizing: border-box;
			display: flex;
			justify-content: space-between;
			flex: 1;
			ul{
				padding-left: 10px;
				border-left: 1px solid rgba(255, 255, 255, 0.5);
				li{
					color: #fff;
					font-size: 12px;
					a{
						color: #fff;
						font-size: 12px;
						&:hover{
							color: @Green;
						}
					}
				}
			}
		}
		ul.socials{
			li{
				a{
					color: #fff;
					&:hover{
						color: @Green;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1170px) {
	.about .about__items .about_item .ite__s .ico{
		width: 90px;
		height: 90px;
		border-width: 2.5px;
		font-size: 40px;
	}
	.about .about__items .about_item .ite__s .ico:after{
		height: 2.5px;
		margin-top: -1.25px;
	}
	.about .about__items .about_item .ite__s .ico:after{
		width: 146px;
		right: -147px;
	}
	.about .about__items .about_item .ite__s p{
		font-size: 14px;
	}
	.about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before{
		width: 1.5px;
    	height: 78px;
        top: -81px;
	}
	.about .about__items .about_item:nth-child(2){
		left: 235px;
	}
	body{
		.wrap{
			max-width: 960px;
		}
	}
	.home .wrap .home_contect p{
		font-size: 16px;
	}
	header .wrap ul.nav{
		max-width: 41%;
	}
	.advantages .advantages__items .advantages__item h4{
		font-size: 18px;
	}
	.advantages .advantages__items .advantages__item p{
		font-size: 16px;
	}
	

	footer .footer__menu{
		flex-wrap: wrap;
	}
	footer .footer__menu ul.socials{
		width: 100%;
		justify-content: center;
		margin-top: 25px;
	}
	footer .footer__menu .menu__f ul li a{
		font-size: 10px;
	}
	.title__section h2{
		font-size: 32px;
	}
}
@media screen and (max-width: 960px) {

	header.headhesive{
		ul.socials{
			display: none;
		}
	}
	a.Toogle_menu{
		display: block!important;
	}
	body{
		.wrap{
			max-width: 600px;
		}
	}
	header .wrap ul.socials{
		top: 150%;
		z-index: 800;
	}
	header .wrap ul.nav{
		display: none;
	}
	header .wrap .logo{
		//left: 15px;
		//transform: none;
	}
	.home .wrap{
		flex-direction: column;
	}
	.home .wrap .home_contect{
		max-width: 100%;
	}
	.home .wrap .form_content{
		margin-left: 0;
		max-width: 100%;
		margin-top: 35px;
	}
	.advantages .advantages__items .advantages__item{
		max-width: 49%;
		margin-bottom: 45px;
	}
	
	footer .footer__menu .menu__f{
		flex-direction: column;
	}
	footer .footer__menu{
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	footer .footer__menu .menu__f{
		padding: 25px 0;
		width: 100%;
		ul{
			margin-bottom: 15px;
		}
	}

	.about{
		.wrap{
			max-width: 550px;
		}
	}
	.about .about__items .about_item:nth-child(2){
		left: 0;
	}
	.about .about__items .about_item .ite__s .ico{
		width: 60px;
		height: 60px;
		font-size: 30px;
	}
	.about .about__items .about_item .ite__s{
		max-width: 33%;
	}
	.about .about__items .about_item .ite__s p{
		min-height: 120px;
	}
	.about .about__items .about_item .ite__s .ico:after{
		width: 115px;
    	right: -116px;
	}
	.about .about__items .about_item{
		&:nth-child(1){
			.ite__s{
				&:nth-child(2){
					.ico{
						&:before{
							content: "";
							width: 2px;
							height: 37px;
							background: #1d1d1d;
							left: 50%;
							transform: translate(-50%, 0);
							bottom: -37px;
							position: absolute;
							z-index: -1;
						}
					}
				}
			}
		}
	}
	.about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before{
		width: 170px;
		height: 43px;
		background: transparent;
		border-top: 2px solid #1d1d1d;
		border-left: 2px solid #1d1d1d;
		top: -45px;
		left: 26px;
		transform: none;
	}
}

@media screen and (max-width: 550px) {
	.about{
		.about__items{
			max-width: 290px;
			margin: 0 auto;
		}
	}
	.about .about__items .about_item{
		flex-direction: column;
		&:nth-child(1){
			.ite__s{
				display: flex;
				flex-direction: column;	
			}
			
		}
		&:nth-child(2){
			.ite__s{
				display: flex;
				flex-direction: column-reverse;	
			}
			
		}
		.ite__s{
			max-width: 100%;
		}
	}
	.about .about__items .about_item .ite__s p{
		min-height: 100px;
		text-align: center;
		justify-content: center;
		padding: 25px;
		font-size: 16px;
	}
	.about .about__items .about_item .ite__s .ico:after, .about .about__items .about_item:nth-child(1) .ite__s:nth-child(2) .ico:before, .about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before{
		display: none;
	}
	.about .about__items .about_item:nth-child(2) .ite__s p:before{
		content: "";
	    width: 0;
	    height: 0;
	    border-style: solid;
	    border-width: 10px 10px 0 10px;
	    border-color: #39d32d transparent transparent transparent;
	    position: absolute;
	    left: 50%;
	    bottom: -10px;
	    top: inherit;
	    transform: translate(-50%, 0);
	    opacity: 0;
	    transition: all 0.3s;
	}
	.about .about__items .about_item:nth-child(2) .ite__s{
		&:hover{
			p{
				&:before{
					transition: all 0.3s!important;
					opacity: 1!important;
				}
			}
		}
	}
	.about .about__items .about_item:nth-child(1) .ite__s{
		min-height: inherit;
	}
	.about .about__items .about_item .ite__s .ico{
		width: 100px;
		height: 100px;
		font-size: 40px;
	}
	.about .about__items .about_item .ite__s .ico{
		margin: 10px auto 3px auto;
	}
	.about .about__items .about_item .ite__s{
		position: relative;
		//padding-bottom: 100px;
		&:after{
			content: "";
			width: 22px;
			height: 100px;
			background: url("../images/arrow-down.png");
			position: relative;
			bottom: 0px;
			left: 50%;
			margin: 15px 0;
			transform: translate(-50%, 0);
		}
	}
	.about .about__items .about_item{
		&:nth-child(1){
			.ite__s{
				&:last-child{
					margin-bottom: 0;
					&:after{
						display: none;
					}
				}
			}
		}
	}
	.about .about__items .about_item:nth-child(2){
		margin-top: 0;
	}
}

@media screen and (max-width: 450px){
	.advantages .particles{
		display: none;
	}
	.home .wrap .home_contect h1{
		font-size: 32px;
		span{
			font-size: 21px;
		}
	}
	.home .wrap .home_contect .order__home{
		flex-direction: column;
		a{
			width: 100%;
			&:first-child{
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}
	.advantages .advantages__items .advantages__item{
		max-width: 100%;
		width: 100%;
	}
	.about .about__items .about_item .ite__s{
		max-width: 100%;
	}
	footer .footer__menu .menu__f ul li{
		font-size: 12px;
		a{
			font-size: 12px;
		}
	}
	.home .wrap .form_content{
		margin-top: 0;
	}			
}
@media screen and (max-width: 370px) {
	.home .wrap .home_contect h1{
		font-size: 29px;
	}
	.home .wrap .home_contect h1 span{
		font-size: 18px;
	}			
}			
						