/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Regular.woff2') format('woff2'), url('../fonts/Circe-Regular.woff') format('woff'), url('../fonts/Circe-Regular.ttf') format('truetype'), url('../fonts/Circe-Regular.svg#Circe-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Circe-Bold.woff2') format('woff2'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg#Circe-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
.particles_container {
  position: relative;
  overflow: hidden;
}
.particles_container .particles {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
header.headhesive,
header.headhesive--stick {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  top: 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
header.headhesive--stick {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
body {
  font-family: 'Circe';
  line-height: 1.3;
  color: #1d1e1f;
}
body .wrap {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body a:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
body a.more__order,
body a.more__order_green {
  display: block;
  width: 189px;
  height: 55px;
  border-radius: 45px;
  border: 1px solid #1d1e1f;
  line-height: 53px;
  text-align: center;
  color: #1d1e1f;
}
body a.more__order:hover,
body a.more__order_green:hover {
  border-color: #39d32d;
  background: #39d32d;
  color: #fff;
}
body a.more__order_green {
  border-color: #39d32d;
  background: #39d32d;
  color: #fff;
}
body a.more__order_green:hover {
  background: #61dc57;
}
a.Toogle_menu {
  display: none!important;
  position: absolute;
  color: #1d1e1f;
  font-size: 22px;
  right: 15px;
  top: 53%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.m__menu__ {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
  background: rgba(6, 6, 6, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.m__menu__.m__menu__active {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  visibility: visible;
  opacity: 1;
  top: 0;
}
.m__menu__ ul li {
  text-align: center;
  margin-bottom: 10px;
}
.m__menu__ ul li:last-child {
  margin-bottom: 0;
  margin-top: 35px;
}
.m__menu__ ul li a {
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
}
ul.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
ul.socials li {
  margin-right: 10px;
}
ul.socials li:last-child {
  margin-right: 0;
}
ul.socials li a {
  color: #121212;
  font-size: 20px;
}
ul.socials li a:hover {
  color: #39d32d;
}
ul.socials li:nth-child(2) a {
  font-size: 18px;
}
ul.socials li:nth-child(3) a {
  font-size: 16px;
}
input,
textarea,
select {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: inherit;
  border: solid 1px #e8e8e8;
  min-height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  resize: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
input:focus,
textarea:focus,
select:focus {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border-color: #999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9e9e9e;
  font-family: inherit;
}
input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e;
  font-family: inherit;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
  /* IE 10+ */
  color: #9e9e9e;
  font-family: inherit;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
select:-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e;
  font-family: inherit;
}
textarea {
  padding-top: 10px;
  min-height: 90px;
}
button {
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  background: #39d32d;
  color: #fff;
  font-size: 18px;
  width: 220px;
  height: 55px;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
button:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  background: #61dc57;
}
header {
  border-bottom: 1px solid #efefef;
}
header .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 42px;
}
header .wrap ul.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 43%;
  width: 100%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
header .wrap ul.nav li {
  margin-right: 20px;
}
header .wrap ul.nav li:last-child {
  margin-right: 0;
}
header .wrap ul.nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #989696;
}
header .wrap ul.nav li a:hover {
  color: #121212;
}
header .wrap ul.nav:first-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .wrap ul.socials {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
header .wrap .logo {
  background: #121212;
  padding: 8px 15px 0 15px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0;
}
header .wrap .logo w154 img {
  max-width: 100%;
  display: block;
}
.home {
  position: relative;
  padding: 80px 0;
}
.home .particles {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.home:before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg2.jpeg");
  background-position: cover;
  background-position: center top;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.05;
}
.home .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home .wrap .form_content {
  max-width: 430px;
  width: 100%;
  min-height: 100px;
  background: #fff;
  margin-left: 25px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 8px 11px 50px 0px rgba(0, 0, 0, 0.21);
          box-shadow: 8px 11px 50px 0px rgba(0, 0, 0, 0.21);
}
.home .wrap .form_content .el_ {
  margin-bottom: 15px;
  text-align: center;
}
.home .wrap .form_content .el_ a {
  font-weight: 600;
  color: #121212;
  font-size: 18px;
  display: inline-block;
  padding: 10px 0 0 0;
}
.home .wrap .form_content .el_ a:hover,
.home .wrap .form_content .el_ a:focus {
  color: #39d32d;
}
.home .wrap .form_content .el_ p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  padding-top: 8px;
}
.home .wrap .form_content .el_ label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .wrap .form_content .el_ label input:nth-child(1) {
  max-width: 70%;
  width: 100%;
}
.home .wrap .form_content .el_ label input:nth-child(2) {
  max-width: 28%;
  width: 100%;
}
.home .wrap .home_contect {
  max-width: 570px;
}
.home .wrap .home_contect h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 0.95;
  margin-bottom: 20px;
}
.home .wrap .home_contect h1 span {
  font-size: 26px;
  display: block;
}
.home .wrap .home_contect p {
  color: #898888;
  font-size: 18px;
  margin-bottom: 10px;
}
.home .wrap .home_contect p:last-child {
  margin-bottom: 0px;
}
.home .wrap .home_contect .order__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}
.home .wrap .home_contect .order__home a:first-child {
  margin-right: 15px;
}
.title__section {
  margin-bottom: 50px;
}
.title__section h2 {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}
.title__section p {
  text-align: center;
  font-size: 18px;
  opacity: 0.7;
}
.advantages {
  padding: 80px 0 20px 0;
  background: #1d1d1d;
  position: relative;
}
.advantages .particles {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.advantages:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/bg3.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.04;
}
.advantages .title__section {
  color: #fff;
  margin-bottom: 55px;
}
.advantages .advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages .advantages__items .advantages__item {
  max-width: 32%;
  text-align: center;
  color: #fff;
  margin-bottom: 65px;
}
.advantages .advantages__items .advantages__item .item__ico {
  width: 130px;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid #39d32d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin: 0 auto 25px auto;
}
.advantages .advantages__items .advantages__item .item__ico img {
  display: block;
}
.advantages .advantages__items .advantages__item h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.advantages .advantages__items .advantages__item p {
  font-size: 18px;
}
.about {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.about:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/bg4.jpeg");
  background-size: cover;
  background-position: center;
  opacity: 0.02;
}
.about .title__section {
  margin-bottom: 80px;
}
.about .about__items .about_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about .about__items .about_item:nth-child(2) {
  position: relative;
  left: 284px;
  margin-top: 25px;
}
.about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 85px;
  background: #1d1d1d;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: -85px;
  z-index: -1;
}
.about .about__items .about_item:nth-child(2) .ite__s p {
  position: relative;
}
.about .about__items .about_item:nth-child(2) .ite__s p:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #39d32d transparent;
  position: absolute;
  left: 50%;
  top: -10px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.about .about__items .about_item .ite__s {
  max-width: 25%;
  width: 100%;
  position: relative;
}
.about .about__items .about_item .ite__s:last-child .ico:after {
  display: none;
}
.about .about__items .about_item .ite__s:hover p {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #39d32d;
  color: #fff;
}
.about .about__items .about_item .ite__s:hover p:before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
.about .about__items .about_item .ite__s:hover p span.visible {
  opacity: 0;
}
.about .about__items .about_item .ite__s:hover p span.hover {
  opacity: 1;
}
.about .about__items .about_item .ite__s:hover .ico {
  border-color: #39d32d;
  color: #39d32d;
}
.about .about__items .about_item .ite__s p {
  text-align: center;
  background: transparent;
  padding: 15px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .about__items .about_item .ite__s p span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.about .about__items .about_item .ite__s p span.hover {
  opacity: 0;
}
.about .about__items .about_item .ite__s p:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #39d32d transparent transparent transparent;
  position: absolute;
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .about__items .about_item .ite__s .ico {
  width: 130px;
  height: 130px;
  border: 5px solid #1d1d1d;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 25px auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.about .about__items .about_item .ite__s .ico:after {
  content: "";
  height: 5px;
  width: 160px;
  background: #1d1d1d;
  position: absolute;
  top: 50%;
  margin-top: -2.5px;
  right: -160px;
  z-index: -1;
}
footer {
  padding: 80px 0 0 0;
  background: #1d1d1d;
}
footer .title__section {
  color: #fff;
}
footer .swiper-container {
  padding: 50px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .swiper-button-next,
footer .swiper-button-prev {
  width: 30px!important;
  height: 30px!important;
  background: url("../images/arrow.png") !important;
  opacity: 0.5;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
footer .swiper-button-next:hover,
footer .swiper-button-prev:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}
footer .swiper-button-prev {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
  left: 0px !important;
}
footer .swiper-button-next {
  right: 0!important;
}
footer .partners__slider_item {
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .partners__slider_item img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
footer .partners__slider_item img:hover {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
footer .footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 40px;
}
footer .footer__menu .logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
}
footer .footer__menu .logo a {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}
footer .footer__menu .logo span {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
}
footer .footer__menu .menu__f {
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer__menu .menu__f ul {
  padding-left: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
footer .footer__menu .menu__f ul li {
  color: #fff;
  font-size: 12px;
}
footer .footer__menu .menu__f ul li a {
  color: #fff;
  font-size: 12px;
}
footer .footer__menu .menu__f ul li a:hover {
  color: #39d32d;
}
footer .footer__menu ul.socials li a {
  color: #fff;
}
footer .footer__menu ul.socials li a:hover {
  color: #39d32d;
}
@media screen and (max-width: 1170px) {
  .about .about__items .about_item .ite__s .ico {
    width: 90px;
    height: 90px;
    border-width: 2.5px;
    font-size: 40px;
  }
  .about .about__items .about_item .ite__s .ico:after {
    height: 2.5px;
    margin-top: -1.25px;
  }
  .about .about__items .about_item .ite__s .ico:after {
    width: 146px;
    right: -147px;
  }
  .about .about__items .about_item .ite__s p {
    font-size: 14px;
  }
  .about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before {
    width: 1.5px;
    height: 78px;
    top: -81px;
  }
  .about .about__items .about_item:nth-child(2) {
    left: 235px;
  }
  body .wrap {
    max-width: 960px;
  }
  .home .wrap .home_contect p {
    font-size: 16px;
  }
  header .wrap ul.nav {
    max-width: 41%;
  }
  .advantages .advantages__items .advantages__item h4 {
    font-size: 18px;
  }
  .advantages .advantages__items .advantages__item p {
    font-size: 16px;
  }
  footer .footer__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .footer__menu ul.socials {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 25px;
  }
  footer .footer__menu .menu__f ul li a {
    font-size: 10px;
  }
  .title__section h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 960px) {
  header.headhesive ul.socials {
    display: none;
  }
  a.Toogle_menu {
    display: block!important;
  }
  body .wrap {
    max-width: 600px;
  }
  header .wrap ul.socials {
    top: 150%;
    z-index: 800;
  }
  header .wrap ul.nav {
    display: none;
  }
  .home .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .wrap .home_contect {
    max-width: 100%;
  }
  .home .wrap .form_content {
    margin-left: 0;
    max-width: 100%;
    margin-top: 35px;
  }
  .advantages .advantages__items .advantages__item {
    max-width: 49%;
    margin-bottom: 45px;
  }
  footer .footer__menu .menu__f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footer__menu .menu__f {
    padding: 25px 0;
    width: 100%;
  }
  footer .footer__menu .menu__f ul {
    margin-bottom: 15px;
  }
  .about .wrap {
    max-width: 550px;
  }
  .about .about__items .about_item:nth-child(2) {
    left: 0;
  }
  .about .about__items .about_item .ite__s .ico {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
  .about .about__items .about_item .ite__s {
    max-width: 33%;
  }
  .about .about__items .about_item .ite__s p {
    min-height: 120px;
  }
  .about .about__items .about_item .ite__s .ico:after {
    width: 115px;
    right: -116px;
  }
  .about .about__items .about_item:nth-child(1) .ite__s:nth-child(2) .ico:before {
    content: "";
    width: 2px;
    height: 37px;
    background: #1d1d1d;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -37px;
    position: absolute;
    z-index: -1;
  }
  .about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before {
    width: 170px;
    height: 43px;
    background: transparent;
    border-top: 2px solid #1d1d1d;
    border-left: 2px solid #1d1d1d;
    top: -45px;
    left: 26px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
@media screen and (max-width: 550px) {
  .about .about__items {
    max-width: 290px;
    margin: 0 auto;
  }
  .about .about__items .about_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about__items .about_item:nth-child(1) .ite__s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about__items .about_item:nth-child(2) .ite__s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about .about__items .about_item .ite__s {
    max-width: 100%;
  }
  .about .about__items .about_item .ite__s p {
    min-height: 100px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
    font-size: 16px;
  }
  .about .about__items .about_item .ite__s .ico:after,
  .about .about__items .about_item:nth-child(1) .ite__s:nth-child(2) .ico:before,
  .about .about__items .about_item:nth-child(2) .ite__s:nth-child(1) .ico:before {
    display: none;
  }
  .about .about__items .about_item:nth-child(2) .ite__s p:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #39d32d transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -10px;
    top: inherit;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .about .about__items .about_item:nth-child(2) .ite__s:hover p:before {
    -webkit-transition: all 0.3s!important;
    -o-transition: all 0.3s!important;
    transition: all 0.3s!important;
    opacity: 1!important;
  }
  .about .about__items .about_item:nth-child(1) .ite__s {
    min-height: inherit;
  }
  .about .about__items .about_item .ite__s .ico {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }
  .about .about__items .about_item .ite__s .ico {
    margin: 10px auto 3px auto;
  }
  .about .about__items .about_item .ite__s {
    position: relative;
  }
  .about .about__items .about_item .ite__s:after {
    content: "";
    width: 22px;
    height: 100px;
    background: url("../images/arrow-down.png");
    position: relative;
    bottom: 0px;
    left: 50%;
    margin: 15px 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .about .about__items .about_item:nth-child(1) .ite__s:last-child {
    margin-bottom: 0;
  }
  .about .about__items .about_item:nth-child(1) .ite__s:last-child:after {
    display: none;
  }
  .about .about__items .about_item:nth-child(2) {
    margin-top: 0;
  }
}
@media screen and (max-width: 450px) {
  .advantages .particles {
    display: none;
  }
  .home .wrap .home_contect h1 {
    font-size: 32px;
  }
  .home .wrap .home_contect h1 span {
    font-size: 21px;
  }
  .home .wrap .home_contect .order__home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .wrap .home_contect .order__home a {
    width: 100%;
  }
  .home .wrap .home_contect .order__home a:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .advantages .advantages__items .advantages__item {
    max-width: 100%;
    width: 100%;
  }
  .about .about__items .about_item .ite__s {
    max-width: 100%;
  }
  footer .footer__menu .menu__f ul li {
    font-size: 12px;
  }
  footer .footer__menu .menu__f ul li a {
    font-size: 12px;
  }
  .home .wrap .form_content {
    margin-top: 0;
  }
}
@media screen and (max-width: 370px) {
  .home .wrap .home_contect h1 {
    font-size: 29px;
  }
  .home .wrap .home_contect h1 span {
    font-size: 18px;
  }
}
.alert {
  padding: 25px;
  border-radius: 10px;
}
.alert-success {
  background-color: #39d32d;

}
.alert-error {
  background-color: #cc2222;

}