body {
  font-family: "Roboto",sans-serif; }

@font-face {
font-family: "FontAwesome";
font-weight: normal;
font-style : normal;
       src : url("fontawesome/fontawesome-webfont.eot");
       src : url("fontawesome/fontawesome-webfont.woff2") format("woff2"),
             url("fontawesome/fontawesome-webfont.woff") format("woff"),
             url("fontawesome/fontawesome-webfont.ttf") format("truetype"),
             url("fontawesome/fontawesome-webfont.svg") format("svg");
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51,51,51, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: #333333;
} 

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
}

.navbar-toggler {
    align-self: flex-end;
  }

/*==========  NAVIGATION ==========*/

.container.container-navbar {
  max-width: 790px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .9rem;
    padding-left: .9rem;
}


.navbar li a {
  font-size: 13px;
  color: #989696;
  font-weight: 500;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar li a:hover {
 color: #333333;
}

/*.navbar li.active a {
  font-size: 13px;
  color: #010101;
}*/

.nav-link.js-scroll-trigger.active {
  color: #010101;
}

.navbar .logo {
  max-width: 147px;
}

ul.nav.navbar-nav.navbar-logo {
    padding-left: 15px;
    padding-right: 15px;
}

ul.nav.navbar-nav.link-nav {
    padding-top: 11px;
}

.header {
  width: 100%;
  background: transparent;
  position: relative;
  z-index: 9;
  -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}


.header.fixed {

  background: rgba(255,255,255);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: fixed;
  top: 0;
  z-index: 999;

}


/*==========  FIRST SCREEN ==========*/

.first-screen {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height:100vh;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  position: relative;
  top: -60px;
}

.laptop-wrapper {
  position: relative;
  width: 71%;
  display: inline-block;
  margin-right: 1%; }

.laptop-text {
  position: absolute;
    top: 0;
    max-width: 38%;
    right: 0;
    padding: 45px 20px 20px 20px; 
  }

.form-wrapper {
  width: 24%;
  display: inline-block;
  padding: 110px 10px 20px;
  float: right; }

.video-container {
  position: absolute; 
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  width: 575px;
  height: 260px !important;
  top: 20px;
  left: 120px; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px; }

.laptop-h1 {
  font-size: 30px;
  font-weight: 900;
  color: #1d1e1f;
  text-transform: uppercase; }

.laptop-h2 {
  font-size: 24px;
  font-weight: 500;
  color: #1d1e1f; 
  margin-bottom: 20px;
}

.laptop-wrapper p {
  font-size: 16px;
  font-weight: 300;
  color: #898888; }

.btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.form-header .btn-wrapper {
    margin-top: 28px;
    margin-bottom: 20px;
}

.btn.btn-laptop {
    height: 55px;
    width: 190px;
    background: transparent;
    border: 1px solid #000;
    border-radius: 40px;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
        color: #000;
    line-height: 38px;
  }

.btn.btn-laptop:hover {
 background: #1d1d1d;
 color: #fff;
}

.btn.btn-laptop:active {
    -webkit-box-shadow: inset 1px 1px 10px #000;
    -moz-box-shadow: inset 1px 1px 10px #000;
    box-shadow: inset 1px 1px 10px #000;
    border:1px solid #29c61f;
}

.form-header input:focus,.form-header textarea:focus,.form-header select:focus,.form-header select:active {
  border:1px solid #29c61f!important;
}

.form-footer input:focus,.form-footer textarea:focus{
  border:1px solid #29c61f!important;
}

.btn.btn-submit {
  height: 55px;
  width: 220px;
  background: #6ce45f;
  background-color: #6CE45F; background-image: -webkit-gradient(linear, left top, left bottom, from(#6CE45F), to(#29C61F));
  background-image: -webkit-linear-gradient(top, #6CE45F, #29C61F);
  background-image: -moz-linear-gradient(top, #6CE45F, #29C61F);
  background-image: -ms-linear-gradient(top, #6CE45F, #29C61F);
  background-image: -o-linear-gradient(top, #6CE45F, #29C61F);
  background-image: linear-gradient(to bottom, #6CE45F, #29C61F);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6CE45F, endColorstr=#29C61F);
  border-radius: 40px;
  color:#fff;
  box-shadow:0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn.btn-submit:hover {
  background-color: #44dd33; background-image: -webkit-gradient(linear, left top, left bottom, from(#44dd33), to(#209a18));
  background-image: -webkit-linear-gradient(top, #44dd33, #209a18);
  background-image: -moz-linear-gradient(top, #44dd33, #209a18);
  background-image: -ms-linear-gradient(top, #44dd33, #209a18);
  background-image: -o-linear-gradient(top, #44dd33, #209a18);
  background-image: linear-gradient(to bottom, #44dd33, #209a18);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#44dd33, endColorstr=#209a18);
}

.btn.btn-submit:active {
  box-shadow: none;
}

.form-header .form-group {
  width: 100%;
  max-width: 380px; }

.form-header select.form-control:not([size]):not([multiple]), .form-header input {
  height: 55px;
  border-radius: 36px;
  text-align-last: center;
  text-align: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  text-align-last: center;
  border: 1px solid #000; }

#input2 {
  width: 77%;
  display: inline-block;
  float: left;
  margin-right: 3%; }

#input3 {
  width: 20%;
  display: inline-block; }

.form-header select {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(../img/key_down.png) no-repeat right #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: 94%; 
}

.form-header select.arrowup {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 5px;
  height: 34px;
  background: url(../img/key_up.png) no-repeat right #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position-x: 94%; 
}

.form-header textarea {
  border: 1px solid #000;
  border-radius: 20px; }

.phone {
    text-align: center;
}

.phone span {
  font-size: 24px;
  font-weight: 900;
  color: #000;
}

.phone .fa-phone {
  font-size: 26px;
}

/*==========  ADVANTAGE  ==========*/


.advantage {
  background: #1d1d1d;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.h3-adv {
  font-size: 42px;
  line-height: 1.3;
  color: #fff;
  font-weight: 700;
  margin-bottom: 0;
  text-transform: uppercase;
}

.sub-adv {
  font-size: 16px;
  font-weight: 300;
  color:#898888;
}

.row-adv {
    margin-bottom: 60px;
}


.advntg-item {
  margin-bottom: 60px;
}

.advntg-item.row2-item {
  margin-bottom: 0;
}


.advntg-img-item {
    display: flex;
    border: 6px solid #3dd132;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 0 auto 40px;
}

.advntg-img-item img{
    margin: auto;
}

.advntg-title-item {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advntg-text-item {
  font-size: 18px;
  color: #d9d9d9;
}

/*==========  HOW ==========*/

.how {
  background: #fff;
  padding-top:100px;
  padding-bottom: 60px;
}

.h3-how {
  font-size: 34px;
  line-height: 1.3;
  color: #1d1e1f;
  font-weight: 500;
  margin-bottom: 0;
}

.sub-how {
  font-size: 16px;
  font-weight: 300;
  color:#898888;
}

.container-how {
  width: 100%;
  max-width: 1520px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  margin-top: 100px;
}

.how-item {
  position: relative;
}

.how-title-item {
  font-size: 18px;
  font-weight: 500;
  color: #1d1d1d;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.arrow {
  position: absolute;
}

.how-img-item {
    display: inline-block;
    border: 6px solid #000;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding-top: 34px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.how-img-item:hover .img-icon{
  opacity: 0;
}

.how-img-item:hover .img-hover{
  opacity: 1;
}

.how-img-item:hover{
  border-color: #3dd132;
}

.img-icon,.img-hover {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -5px;
    z-index: 9;
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.img-icon.img3 {
    margin-left: -41px;
    margin-top: -14px;
}

.img-icon.img3 + .img-hover{
    margin-left: -41px;
    margin-top: -14px;
}

.row2 .img-icon.img4 {
    margin-left: -47px;
    margin-top: -14px;
}

.row2 .img-icon.img4 + .img-hover{
    margin-left: -49px;
    margin-top: -15px;
}

.row2 .img-icon.img5 {
    margin-left: -51px;
    margin-top: -8px;
}

.row2 .img-icon.img5 + .img-hover{
    margin-left: -53px;
    margin-top: -9px;
}

.row2 .img-icon.img6 {
    margin-left: -39px;
    margin-top: -12px;
}

.row2 .img-icon.img6 + .img-hover{
    margin-left: -39px;
    margin-top: -12px;
}

.img-hover {
  opacity: 0;
  margin-left: -52px;
  margin-top: -6px;

}

.arrow.ar1 {
    top: 151px;
    right: -120px;
    width: 210px;
}

.arrow.ar2 {
    top: 255px;
    left: 43%;
}

.row1 {
  margin-bottom: 210px;
}

.row2 .img-icon, .row2 .img-hover {
    top: 19%;
    margin-top: -5px;
}

.row2 .arrow.ar1 {
    top: 65px;
    right: -120px;
    width: 210px;
}

.row2 .how-title-item {
  margin-bottom: 20px;
  margin-top: 34px;
}

.tooltip-inner {
    max-width: 350px;
    width: 350px;
    height:100px;
    padding: 15px 8px;
    color: #fff;
    text-align: center;
    background-color: #3dd132;
    border-radius: .25rem;
    font-size: 18px;
    line-height: 1.3;
    opacity: 1 !important;
    height: 100%;
    max-height: 150px;

}

.tooltip.tooltip-top .tooltip-inner::before, .tooltip.bs-tether-element-attached-bottom .tooltip-inner::before {
      bottom: 0;
      left: 50%;
      margin-left: -5px;
      content: "";
      border-width: 5px 5px 0;
      border-top-color: #3dd132; }


.tooltip.tooltip-bottom .tooltip-inner::before, .tooltip.bs-tether-element-attached-top .tooltip-inner::before {
      top: 0;
      left: 50%;
      margin-left: -5px;
      content: "";
      border-width: 0 5px 5px;
      border-bottom-color: #3dd132;  }

.tooltip.show {
    opacity: 1; }

/*==========  ROTATE  ==========*/

.rotate {
  margin-top: 50px; }

.rotate-item {
  width: 33.33333%;
  float: left;
  position: relative;
  height: 340px;
  transform: skewY(3deg);
  -webkit-transform: skewY(3deg);
  -moz-transform: skewY(3deg);
  overflow: hidden; }

.rotate-wrapper:after, .rotate-wrapper-two:after {
  content: "";
  display: block;
  clear: both; }

.rotate-wrapper-two {
  position: relative;
  bottom: 67px; }

.rotate-item:nth-child(2) {
  margin-top: 33px; 
  margin-right: -1px;
}

.rotate-item:nth-child(3) {
  margin-top: 66px; }


.rotate-item img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: skewY(-3deg) translateY(-50%);
  -webkit-transform: skewY(-3deg) translateY(-50%);
  -moz-transform: skewY(-3deg) translateY(-50%); }

.rotate-text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(112, 196, 8, 0.5);
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.rotate-text:hover {
  opacity: 1; }

.rotate-title {
  position: absolute;
  color: #fff;
  transform: skewY(-3deg) translateY(-50%);
  -webkit-transform: skewY(-3deg) translateY(-50%);
  -moz-transform: skewY(-3deg) translateY(-50%); 
  top: 50%;

}

  .rotate-text h4{
    text-transform: uppercase;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
}

.rotate-text p{
    text-align: center;
}

  /*==========  PARTNERS  ==========*/

  .partners {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .item-partners img {
    width: 100%;
    max-width: 170px;
    margin-bottom: 20px;
  }

/*==========  CONTACTS  ==========*/

.contacts {
  padding-top: 60px;
  padding-bottom: 100px;
}

.row-contacts {
  margin-bottom: 60px;
}

.contacts-icon {
  margin-bottom: 20px;
}

.contacts-icon .fa-phone, .contacts-icon .fa-envelope{
  font-size: 26px;
}

.contacts-text {
  font-size: 14px;
  color:#898888;
}

.item-contacts {
  margin-bottom: 20px;
}

.row-info {
  margin-bottom: 100px;
}

.wrapper-footer-form {
  max-width: 750px;
  margin: 0 auto;
}

.form-footer input {
  width:100%;
  height: 50px;
  border-radius:0;
  text-align: center;
}

.form-footer textarea {
  width:100%;
  border-radius:0;
  text-align: left;
}

.form-footer .btn-submit {
  width: 100%;
  border-radius: 0;
  background: #161616;
  color: #fff;
  font-size: 17px;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  box-shadow: none;
  }

  .form-footer .btn-submit:hover {
  border:2px solid #161616;
  background: transparent;
  color: #161616;
  }

  .form-footer .btn-submit:active {
  border:2px solid #161616;
  background: transparent;
  color: #161616;
  -webkit-box-shadow: inset 1px 1px 10px #000;
  -moz-box-shadow: inset 1px 1px 10px #000;
  box-shadow: inset 1px 1px 10px #000;
  }

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-text {
  font-size: 14px;
  color: #3b3b3b;
  font-weight: 300;
}

.block-mob {
  display: none;
}

.logo.logo-mob {
    display: none;
}
/*==========  ADAPTATION ==========*/

@media only screen and (max-width: 1710px) {
  .first-screen {
    max-width: 1650px; }
  .img-adapt {
    width: 750px; }
  .video-container {
    width: 527px;
    top: 10px;
    left: 112px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 339px; } 
  .rotate-item:nth-child(2) {
    margin-top: 29px;
    margin-right: -1px;
  }
  .rotate-item:nth-child(3) {
    margin-top: 58px;
  }
  }

@media only screen and (max-width: 1610px) {
  .first-screen {
    max-width: 1550px; 
  }
  .img-adapt {
    width: 700px; }
  .video-container {
    width: 492px;
    top: 10px;
    left: 105px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 315px; } }

@media only screen and (max-width: 1540px) {
  .first-screen {
    max-width: 1450px; 
  }
  .img-adapt {
    width: 600px; }
  .video-container {
    width: 426px;
    top: 10px;
    left: 87px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 269px; } 
  .laptop-text {
    max-width: 46%;
    padding: 15px 20px 20px 20px;
}

  .rotate-item:nth-child(2) {
      margin-top: 26px;
      margin-right: -1px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 52px;
    }


  }

@media only screen and (max-width: 1510px) {

.container-how {
  max-width: 1152px;
}

  .col-xl-3.col-custom {
    flex: 0 0 33%;
    max-width: 33%;
}

.adapt-hide {
  display: none;
}

.arrow.ar2 {
    top: 176px;
    left: -13%;
    transform: rotate(45deg);
    height: 377px;
    width: 50px;
}

 

}

@media only screen and (max-width: 1440px) {

.rotate-item:nth-child(2) {
      margin-top: 25px;
      margin-right: -1px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 50px;
    }

}

@media only screen and (max-width: 1400px) {
  .first-screen {
    max-width: 1200px; 
  }
  .img-adapt {
    width: 450px; }
  .video-container {
    width: 316px;
    top: 10px;
    left: 67px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 200px; } 
  .laptop-text {
    max-width: 54%;
    right: -58px;
    padding: 0px 20px 20px 20px;
}
.form-wrapper {
    padding: 0px 10px;
}
#input3 {
    width: 25%;
}
#input2 {
    width: 72%;
}
  }

@media only screen and (max-width: 1380px) {

.rotate-item:nth-child(2) {
      margin-top: 24px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 48px;
    }

}

@media only screen and (max-width: 1300px) {

.rotate-item:nth-child(2) {
      margin-top: 22px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 43px;
    }

}

@media only screen and (max-width: 1170px) {

.logo.logo-mob {
    display: block;
    position: absolute;
    padding: 0;
    top: 12px;
    left: 50%;
    margin-left: -85px;
}

.navbar-logo {
  display: none;
}

.navbar-toggler {
    border-color: #333333;
    margin-top: -8px;
}

ul.nav.navbar-nav.link-nav {
    padding-top: 20px;
    text-align: center;
}

ul.nav.navbar-nav.link-nav.link-nav-adapt {
  padding-top: 0;
}

.navbar {
  background: #fff;
}

.navigation {
  background: #fff;
}

.header.fixed {
  background: #fff;
}

.header {
  background: #fff;
}


.col-lg-12.col-custom {
    flex: 0 0 100%;
    max-width: 100%;
}


.hide-mob {
  display: none;
}

.block-mob {
  display: block;
}


.row1 {
    margin-bottom: 114px;
}

.arrow.ar1 {
   top: 276px;
    right: 45.5%;
    width: 99px;
    height: 33px;
    transform: rotate(90deg);
}

.row2 .how-title-item {
    margin-top: 10px;
}

.row2.how-item {
    margin-bottom: 110px;
}
.row2 .arrow.ar1 {
    top: 274px;
    right: 45.5%;
    width: 99px;
    height: 33px
}

.arrow.ar2 {
    top: 244px;
    left: 48%;
    transform: rotate(0deg);
    height: 99px;
    width: 31px;
}

.arrow.ar1.aar1 {
    top: 277px;
    left: 45%;
    transform: rotate(90deg);
    height: 31px;
    width: 99px;
}

.how-title-item.tip-mob {
    margin-bottom: 20px;
    margin-top: 34px;
}

.arrow.ar1.ar-rotate {
    right: 152px;
    transform: rotate(90deg);
    top: 341px;
    width: 219px;
}

.how {
    background: #fff;
    padding-top: 70px;
    padding-bottom: 0;
}

.how-title-item {
    margin-bottom: 10px;
}

.container-how {
    margin-top: 32px;
}

 .first-screen {
    max-width: 1200px;
    display: block;
    height: auto;
    padding-bottom: 60px;
    top: 77px;
}

.advntg-item.row2-item {
    margin-bottom: 60px;
}

  .laptop-wrapper {
    position: relative;
    width: 100%;
    display: block;
    margin-right: 0;
    text-align: center;
}

.advantage {
    padding-bottom: 0px;
}

.laptop-text {
    max-width: 100%;
    position: static;
    text-align: center;
}

.laptop-img {
    margin-bottom: 20px;
}
  .img-adapt {
    width: 650px; }
  .video-container {
    width: 460px;
    top: 17px;
    left: 50%;
    margin-left: -230px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 286px; } 
.form-wrapper {
    width: 100%;
    display: block;
    padding: 20px 10px;
    float: none;
}

.form-header .form-group {
    width: 100%;
    max-width: 380px;
    margin: 10px auto;
}

.rotate-item:nth-child(2) {
      margin-top: 20px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 40px;
    }

}


@media only screen and (max-width: 1024px) {
 .rotate-item:nth-child(2) {
      margin-top: 18px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 36px;
    }

}

@media only screen and (max-width: 990px) {

.rotate-wrapper-two {
    position: relative;
    bottom: 31px;
}

.rotate-item {
    height: 200px;
}

 .rotate-item:nth-child(2) {
      margin-top: 16px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 32px;
    }

}

@media only screen and (max-width: 850px) {

.rotate-item {
    height: 200px;
}

 .rotate-item:nth-child(2) {
      margin-top: 14px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 28px;
    }

}

@media only screen and (max-width: 730px) {

.rotate-item {
    height: 200px;
}

 .rotate-item:nth-child(2) {
      margin-top: 12px;
  }

  .rotate-item:nth-child(3) {
      margin-top: 24px;
    }

}



@media only screen and (max-width: 767px) {

.item-partners {
  margin-bottom: 25px;
}
}

@media only screen and (max-width: 680px) {
  .first-screen {
    max-width: 500px; 
  }
  .img-adapt {
    width: 350px; }
  .video-container {
    width: 246px;
    top: 10px;
    left: 343px; }
  .video-container iframe, .video-container object, .video-container embed {
    height: 152px; } 
  }

@media only screen and (max-width: 660px) {

.rotate-item {
    width: 50%;
    float: left;
    position: relative;
    height: auto;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    overflow: hidden;
    top: 0;
}

.rotate-wrapper:after {
    content: "";
    display: block;
    clear: none;
}

 .rotate-wrapper-two:after {
    content: "";
    display: block;
    clear: botch;
}

.rotate {
    margin-top: 0px;
}

.row2.how-item.how-last {
    margin-bottom: 60px;
}

.rotate-item img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
}

.rotate-title {
    position: absolute;
    color: #fff;
    transform:none;
    -webkit-transform:none;
    -moz-transform:none;
}

.rotate-item:nth-child(2) {
      margin-top: 0;
  }

  .rotate-item:nth-child(3) {
      margin-top: 0;
    }

.rotate-wrapper-two {
    position: relative;
    bottom: 0;
}

.rotate-text {
    top: 0;
    left: 0;
}

}

@media only screen and (max-width: 576px) {



}

@media only screen and (max-width: 520px) {
  .first-screen {
    max-width: 300px; 
  }
  .img-adapt {
    width: 250px; }
  .video-container {
    width: 176px;
    top: 6px;
    left: 277px;}
  .video-container iframe, .video-container object, .video-container embed {
    height: 109px; } 

    .h3-adv {
    font-size: 30px;}

    .advntg-title-item {
    font-size: 20px;
}

.row-adv {
    margin-bottom: 22px;
}

.how {
    padding-top: 40px;
}

.how-title-item {
    font-size: 16px;
}

.rotate-item {
    width: 100%;
    float: none;
    position: relative;
    height: auto;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    overflow: hidden;
    top: 0;
}

.rotate-title {
  
    top: 40%;
}

}

@media only screen and (max-width: 440px) {

  .first-screen {
    padding-bottom: 101px;
}

}

@media only screen and (max-width: 380px) {

.arrow.ar2 {
    top: 238px;
    left: 45%;
    transform: rotate(0deg);
    height: 99px;
    width: 31px;
}

.partners {
    padding-top: 60px;
    padding-bottom: 30px;
}

.contacts {
    padding-top: 0px;
    padding-bottom: 30px;
}

.row-info {
    margin-bottom: 30px;
}

.first-screen {
    padding-bottom: 101px;
}

.how-title-item {
    font-size: 15px;
}

.tooltip-inner {
    max-width: 300px;
    width: 300px;
    height:100px;
    padding: 15px 8px;
    color: #fff;
    text-align: center;
    background-color: #3dd132;
    border-radius: .25rem;
    font-size: 18px;
    line-height: 1.3;
    opacity: 1 !important;
    height: 100%;
    max-height: 150px;

}

}

@media only screen and (min-width: 1200px) {

.container.container-adv {
  max-width: 1180px;
}

.container.container-partners {
  max-width: 1600px;
}

}


/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
