body {
    overflow-x: hidden
}

.header {
    margin-top: 0;
    background: url("../img/bg.png") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    position: relative;
    min-width: 100%;
    min-height: 550px
}

.header .social {
    position: absolute;
    right: 15px;
    top: 30px
}

.header .social ul {
    margin: 0
}

.header .social ul li {
    display: inline;
    margin-right: 25px;
    padding: 3px
}

.header .social ul li a {
    font-size: 25px;
    color: #fff
}

.header .social ul li a:hover {
    color: #4da812
}

.header .login {
    position: absolute;
    right: 60px;
    top: 70px
}

.header .login ul {
    margin: 0
}

.header .login ul li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
    color: #f1f1f1
}

.header .login ul li a {
    color: #f1f1f1
}

.header .login ul li a:hover {
    text-decoration: none;
    color: #4da812
}

.header .content {
    margin-top: -20px;
    padding-top: 10%
}

.header .content .logo {
    margin-top: -50px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase
}

.header .content .logo h1 {
    margin-top: 0
}

.header .content .select {
    margin-top: 10px;
    padding: 5px;
    position: relative;
    border-radius: 20px;
    width: 100%;
    background: #fff
}

.header .content .select select {
    margin: 0;
    border: 0;
    width: 100%;
    height: 28px;
    background: transparent;
    padding: 0 20px 0 7px;
    font-size:18px;
    text-align: center;
    text-align-last:center ;
}

.header .content input.circle-form {
    min-height: 38px;
    border-radius: 19px;
    font-size: 18px;

}

.header .content .select select:focus {
    border: none;
    outline: none;
}
.header .content .select select > option {
   text-align: center;
}

.header .content .circle-form {
    font-size: 24px;
    width: 40px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    font-weight: 200;
    padding-bottom: 0;
    font-family: 'Lato', sans-serif;"
}

.header .content .circle-form:focus {
    outline: none;

}

.header .content .full {
    width: 100%
}

.header .content .problem {
    padding: 10px;
    height: 105px
}

.header .content .send-form {
    margin-top: 10px
}

.header .content .btn {
    padding: 12px;
    width: 184px;
    border-radius: 20px;
    margin-bottom: 15px
}

.header .content .btn-success {
    background-color: #4da812;
    border-color: #4da812;
    font-size: 14px;
    margin-right: 10px
}

.main .advantage {
    background: #fff;
    padding-top: 30px
}

.main .advantage .advantage-block {
    margin-top: 15px
}

.main .advantage .title {
    font-weight: 100;
    font-size: 25px
}

.main .advantage .title img {
    margin-right: 15px;
    margin-left: 15px
}

.main .advantage .content-advantage {
    margin-top: 50px
}

.main .advantage .content-advantage .text {
    margin: auto;
    width: 230px
}

.main .help {
    margin-top: 100px;
    background: #f1f1f1
}

.main .help .help-content {
    padding-top: 30px;
    min-height: 750px
}

.main .help .help-content .btn-success {
    text-transform: uppercase;
    width: 184px;
    padding: 12px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #4da812;
    border-color: #4da812;
    font-size: 14px;
    border-radius: 20px;
    margin-bottom: 15px
}

.main .help .help-content .p-l {
    padding-left: 30px;
}

.main .help .help-content .image-right {
    margin-right: -15px
}

.main .help .help-content .director {
    font-size: 20px;
    margin-top: 30px
}

.main .help .help-content .why {
    font-size: 13px
}

.main .static {
    margin-top: 0;
    background: url("../img/Background2.jpg") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    position: relative;
    min-width: 100%;
    min-height: 420px;
    color: #fff
}

.main .static .static-title {
    margin-top: 50px
}

.main .static .static-content {
    text-transform: uppercase;
    margin: auto;
    padding-top: 30px;
    width: 180px
}

.main .news .title-news {
    color: #b8b9bb;
    font-size: 18px
}

.main .news .article {
    padding-top: 20px;
    width: 345px;
    margin: auto
}

.main .news .article .cover-article {
    width: 100%;
    height: 100%
}

.main .news .article .name {
    margin-top: 20px;
    font-size: 17px;
    color: #909195
}

.main .news .article .title-article {
    font-size: 20px
}

.main .news .article .arrow-hover {
    visibility: hidden;
    margin-left: -28px
}

.main .news .article a {
    color: #000
}

.main .news .article a:hover {
    text-decoration: none;
    color: #4da812
}

.main .news .article a:hover .arrow-peace {
    visibility: hidden
}

.main .news .article a:hover .arrow-hover {
    visibility: visible
}

.main .brand {
    margin-top: 65px
}

.main .brand .brand-block {
    margin-top: 25px;
    margin-bottom: 15px
}

.main .about {
    background: #f1f1f1;
    padding-bottom: 30px
}

.main .about .title-about {
    color: #b8b9bb;
    font-size: 18px;
    margin-bottom: 20px
}

.main .about .square {
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    background: #fff;
    width: 260px;
    height: 220px;
    -webkit-box-shadow: 0 0 10px #b8b9bb;
    box-shadow: 0 0 10px #b8b9bb
}

.main .about .square h4 {
    margin-top: 20px;
    color: #000
}

.main .about .square p {
    margin-top: 20px;
    color: #4da812
}

.main .about a:hover {
    text-decoration: none
}

.main .about .square:hover {
    border: 5px solid #4da812;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.main .reviews {
    margin-top: 0;
    background: url("../img/vector.png") no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    position: relative;
    min-width: 100%;
    height: 575px;
    color: #fff;
    padding-top: 110px
}

.main .reviews .btn-success {
    text-transform: uppercase;
    width: 184px;
    padding: 12px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #4da812;
    border-color: #4da812;
    font-size: 14px;
    border-radius: 20px
}

.main .reviews .circle {
    background: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px
}

.main .reviews .circle .review-block {
    position: absolute;
    top: -170px;
    background: #fff;
    width: 225px;
    height: 155px;
    padding: 10px;
    visibility: hidden
}

.main .reviews .circle .review-block .photo {
    width: 80px;
    height: 50px;
    background: #000;
    float: left
}

.main .reviews .circle .review-block .right-part {
    float: right;
    margin-top: -20px;
    font-size: 14px;
    color: #000
}

.main .reviews .circle .review-block .right-part .rating {
    margin-top: -10px
}

.main .reviews .circle .review-block .right-part .rating .star {
    margin-left: -3px;
    width: 25px;
    height: 25px;
    float: left
}

.main .reviews .circle .review-block .review {
    margin-top: 10px;
    float: left;
    color: #000;
    font-size: 12px;
    width: 100%
}

.main .reviews .circle .review-block .read-more {
    float: left;
    font-size: 12px
}

.main .reviews .circle .review-block .down-block {
    width: 100%;
    float: left;
    margin-top: 5px;
    border-top: 1px solid #b8b9bb;
    color: #b8b9bb
}

.main .reviews .circle .review-block .down-block .name {
    float: left
}

.main .reviews .circle .review-block .down-block .date {
    float: right
}

.main .reviews .circle .review-block .triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 155px;
    left: 25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff
}

.main .reviews a:hover .review-block {
    visibility: visible;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.main .work {
    padding-top: 20px;
    padding-bottom: 20px
}

.main .work .video {
    margin-top: 20px;
    width: 100%;
    min-height: 440px;
    border: 15px solid #000
}

.footer {
    background: #1d1d1c;
    color: #fff;
    font-size: 16px
}

.footer .logo-footer {
    font-size: 60px;
    color: #4da812;
    margin-bottom: 10px
}

.footer .info {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 30px
}

.footer .company {
    margin-top: 15px;
    margin-bottom: 20px
}

.footer a {
    color: #fff
}

.footer a:hover {
    color: #4da812;
    text-decoration: none
}

.footer li {
    margin-bottom: 10px
}

@media (max-width: 992px) {
    .header .content .logo {
        margin-top: 60px
    }

    .main .help .image-right {
        width: 90%
    }

    .main .reviews .circle {
        display: none
    }
}

.open-form__buttons > button {
    transform: translate(0%, 100%);
}

#map {
    height: 250px;
    width: auto;
}

@media (min-width: 992px) {
    form .row > .col-md-6.left-column {
        padding: 0;
    }

    form .col-md-6.left-column {
        padding-right: 20px;
    }

    form .col-md-6.right-column {
        padding-left: 20px;
    }

    form .row > .col-md-6.left-column {
        padding-left: 0;
        padding-right: 5px;
    }

    form .row > .col-md-6.right-column {
        padding-right: 0;
        padding-left: 5px;
    }

}
@media (max-width: 992px) {
    form .row.room-house > .col-md-6 {
        padding :0;
    }

}

.form-wrapper {
    padding-left: 10px;
    padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */