.rotate-line {
  height: 100px;
  width: 100%;
  background: #ddd;
  position: relative;
  z-index: 7; }

.rotate-line::after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  bottom: -135px;
  width: 100%;
  border-style: solid;
  border-width: 0 100vw 136px 0;
  border-color: transparent #ddd transparent transparent;
  z-index: 9; }

.rotate {
  margin-top: 100px;
  margin-bottom: 100px; }

.rotate-wrapper {
  -webkit-transform: skewY(8deg);
  -moz-transform: skewY(8deg);
  -ms-transform: skewY(8deg);
  -o-transform: skewY(8deg);
  transform: skewY(8deg);
  position: relative;
  top: -100px; }

.rotate-item {
  width: 25%;
  float: left; }

.rotate-item img {
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  -o-transform: skewY(-8deg);
  transform: skewY(-8deg); }

.rotate img {
  width: 100%;
  height: 340px; }
