@import "fonts"
$white: #f1f1f1
$green: #4da812
body
    overflow-x: hidden
.header
    margin-top: 0
    background: url("../img/bg.png") no-repeat 0px 0px
    background-size: cover
    -webkit-background-size: cover
    -o-background-size: cover
    -ms-background-size: cover
    -moz-background-size: cover
    position: relative
    min-width: 100%
    min-height: 550px
    .social
        position: absolute
        right: 15px
        top: 30px
        ul
            margin: 0
            li
                display: inline
                margin-right: 25px
                padding: 3px
                a
                    font-size: 25px
                    color: #ffffff
                a:hover
                    color: $green
    .login
        position: absolute
        right: 60px
        top: 70px
        ul
            margin: 0
            li
                display: inline
                margin-right: 5px
                padding: 3px
                color: $white
                a
                    color: $white
                a:hover
                    text-decoration: none
                    color: $green
    .content
        margin-top: -20px
        padding-top: 10%
        .logo
            margin-top: -50px
            margin-bottom: 40px
            font-size: 48px
            color: white
            text-transform: uppercase
            h1
                margin-top: 0
        .select
            margin-top: 10px
            padding: 5px
            position: relative
            border-radius: 20px
            width: 100%
            background: #ffffff
            select
                margin: 0
                border: 0
                width: 100%
                height: 28px
                background: transparent
                padding: 0 20px 0 7px
            select:focus
                border: none
        .circle-form
            font-size: 24px
            width: 40px
            margin-top: 10px
            border-radius: 15px
            border: none
            font-weight: 200
        .full
            width: 100%
        .problem
            padding: 10px
            height: 105px
        .send-form
            margin-top: 10px
        .btn
            padding: 12px
            width: 184px
            border-radius: 20px
            margin-bottom: 15px
        .btn-success
            background-color: $green
            border-color: $green
            font-size: 14px
            margin-right: 10px
.main
    .advantage
        background: #ffffff
        padding-top: 30px
        .advantage-block
            margin-top: 15px
        .title
            font-weight: 100
            font-size: 25px
            img
                margin-right: 15px
                margin-left: 15px
        .content-advantage
            margin-top: 50px
            .text
                margin: auto
                width: 230px
    .help
        margin-top: 100px
        background: $white
        .help-content
            padding-top: 30px
            min-height: 750px
            //background: red
            .btn-success
                text-transform: uppercase
                width: 184px
                padding: 12px
                margin-left: 10px
                margin-top: 30px
                background-color: $green
                border-color: $green
                font-size: 14px
                border-radius: 20px
                margin-bottom: 15px
            .image-right
                margin-right: -15px
            .director
                font-size: 20px
                margin-top: 30px
            .why
                font-size: 13px
    .static
        margin-top: 0
        background: url("../img/Background2.jpg") no-repeat 0px 0px
        background-size: cover
        -webkit-background-size: cover
        -o-background-size: cover
        -ms-background-size: cover
        -moz-background-size: cover
        position: relative
        min-width: 100%
        min-height: 420px
        color: #ffffff
        .static-title
            margin-top: 50px
        .static-content
            text-transform: uppercase
            margin: auto
            padding-top: 30px
            width: 180px
    .news
        .title-news
            color: #b8b9bb
            font-size: 18px
        .article
            padding-top: 20px
            width: 345px
            margin: auto
            .cover-article
                width: 100%
                height: 100%
            .name
                margin-top: 20px
                font-size: 17px
                color: #909195
            .title-article
                font-size: 20px
            .arrow-hover
                visibility: hidden
                margin-left: -28px
            a
                color: black
            a:hover
                text-decoration: none
                color: $green
                .arrow-peace
                    visibility: hidden
                .arrow-hover
                    visibility: visible
    .brand
        margin-top: 65px
        .brand-block
            margin-top: 25px
            margin-bottom: 15px
    .about
        background: $white
        padding-bottom: 30px
        .title-about
            color: #b8b9bb
            font-size: 18px
            margin-bottom: 20px
        .square
            margin: auto
            margin-top: 20px
            padding: 10px
            background: #ffffff
            width: 260px
            height: 220px
            box-shadow: 0 0 10px #b8b9bb
            h4
                margin-top: 20px
                color: #000000
            p
                margin-top: 20px
                color: $green
        a:hover
            text-decoration: none
        .square:hover
            border: 5px solid $green
            -webkit-transition: all 0.3s ease
            -moz-transition: all 0.3s ease
            -o-transition: all 0.3s ease
            transition: all 0.3s ease

    .reviews
        margin-top: 0
        background: url("../img/vector.png") no-repeat 0px 0px
        background-size: cover
        -webkit-background-size: cover
        -o-background-size: cover
        -ms-background-size: cover
        -moz-background-size: cover
        position: relative
        min-width: 100%
        height: 575px
        color: #ffffff
        padding-top: 110px
        .btn-success
            text-transform: uppercase
            width: 184px
            padding: 12px
            margin-left: 10px
            margin-top: 30px
            background-color: $green
            border-color: $green
            font-size: 14px
            border-radius: 20px
        .circle
            background: #ffffff
            position: absolute
            width: 60px
            height: 60px
            border-radius: 30px
            .review-block
                position: absolute
                top: -170px
                background: #ffffff
                width: 225px
                height: 155px
                padding: 10px
                visibility: hidden
                .photo
                    width: 80px
                    height: 50px
                    background: #000000
                    float: left
                .right-part
                    float: right
                    margin-top: -20px
                    font-size: 14px
                    color: #000000
                    .rating
                        margin-top: -10px
                        .star
                            margin-left: -3px
                            width: 25px
                            height: 25px
                            float: left
                .review
                    margin-top: 10px
                    float: left
                    color: #000000
                    font-size: 12px
                    width: 100%
                .read-more
                    float: left
                    font-size: 12px
                .down-block
                    width: 100%
                    float: left
                    margin-top: 5px
                    border-top: 1px solid #b8b9bb
                    color: #b8b9bb
                    .name
                        float: left
                    .date
                        float: right
                .triangle
                    position: absolute
                    width: 0
                    height: 0
                    top: 155px
                    left: 25px
                    border-left: 5px solid transparent
                    border-right: 5px solid transparent
                    border-top: 10px solid #ffffff
        a:hover
            .review-block
                visibility: visible
                -webkit-transition: all 0.3s ease
                -moz-transition: all 0.3s ease
                -o-transition: all 0.3s ease
                transition: all 0.3s ease
    .work
        padding-top: 20px
        padding-bottom: 20px
        .video
            margin-top: 20px
            width: 100%
            min-height: 440px
            border: 15px solid #000000
.footer
    background: #1d1d1c
    color: #ffffff
    font-size: 16px
    .logo-footer
        font-size: 60px
        color: $green
        margin-bottom: 10px
    .info
        font-size: 18px
        text-transform: uppercase
        margin-top: 30px
        margin-bottom: 30px
    .company
        margin-top: 15px
        margin-bottom: 20px
    a
        color: #ffffff
    a:hover
        color: $green
        text-decoration: none
    li
        margin-bottom: 10px
@media (max-width: 992px)
    .header
        .content
            .logo
                margin-top: 60px
    .main
        .help
            .image-right
                width: 90%
        .reviews
            .circle
                display: none