{% load static %}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Starter</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
        page. However, you can choose any other skin. Make sure you
        apply the skin class to the body tag so the changes take effect. -->
  <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">

  <link rel="stylesheet" href="{%  static 'bower_components/datatables.net-bs/css/dataTables.bootstrap.css' %}">
  <link rel="stylesheet" href="{%  static 'css/admin_panel.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>P</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>Page</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
{#          <!-- Messages: style can be found in dropdown.less-->#}
{#          <li class="dropdown messages-menu">#}
{#            <!-- Menu toggle button -->#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#              <i class="fa fa-envelope-o"></i>#}
{#              <span class="label label-success">4</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#              <li class="header">You have 4 messages</li>#}
{#              <li>#}
{#                <!-- inner menu: contains the messages -->#}
{#                <ul class="menu">#}
{#                  <li><!-- start message -->#}
{#                    <a href="#">#}
{#                      <div class="pull-left">#}
{#                        <!-- User Image -->#}
{#                        <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}
{#                      </div>#}
{#                      <!-- Message title and timestamp -->#}
{#                      <h4>#}
{#                        Support Team#}
{#                        <small><i class="fa fa-clock-o"></i> 5 mins</small>#}
{#                      </h4>#}
{#                      <!-- The message -->#}
{#                      <p>Why not buy a new awesome theme?</p>#}
{#                    </a>#}
{#                  </li>#}
{#                  <!-- end message -->#}
{#                </ul>#}
{#                <!-- /.menu -->#}
{#              </li>#}
{#              <li class="footer"><a href="#">See All Messages</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <!-- /.messages-menu -->#}
{##}
{#          <!-- Notifications Menu -->#}
{#          <li class="dropdown notifications-menu">#}
{#            <!-- Menu toggle button -->#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#              <i class="fa fa-bell-o"></i>#}
{#              <span class="label label-warning">10</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#              <li class="header">You have 10 notifications</li>#}
{#              <li>#}
{#                <!-- Inner Menu: contains the notifications -->#}
{#                <ul class="menu">#}
{#                  <li><!-- start notification -->#}
{#                    <a href="#">#}
{#                      <i class="fa fa-users text-aqua"></i> 5 new members joined today#}
{#                    </a>#}
{#                  </li>#}
{#                  <!-- end notification -->#}
{#                </ul>#}
{#              </li>#}
{#              <li class="footer"><a href="#">View all</a></li>#}
{#            </ul>#}
{#          </li>#}
{#          <!-- Tasks Menu -->#}
{#          <li class="dropdown tasks-menu">#}
{#            <!-- Menu Toggle Button -->#}
{#            <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#              <i class="fa fa-flag-o"></i>#}
{#              <span class="label label-danger">9</span>#}
{#            </a>#}
{#            <ul class="dropdown-menu">#}
{#              <li class="header">You have 9 tasks</li>#}
{#              <li>#}
{#                <!-- Inner menu: contains the tasks -->#}
{#                <ul class="menu">#}
{#                  <li><!-- Task item -->#}
{#                    <a href="#">#}
{#                      <!-- Task title and progress text -->#}
{#                      <h3>#}
{#                        Design some buttons#}
{#                        <small class="pull-right">20%</small>#}
{#                      </h3>#}
{#                      <!-- The progress bar -->#}
{#                      <div class="progress xs">#}
{#                        <!-- Change the css width attribute to simulate progress -->#}
{#                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"#}
{#                             aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">#}
{#                          <span class="sr-only">20% Complete</span>#}
{#                        </div>#}
{#                      </div>#}
{#                    </a>#}
{#                  </li>#}
{#                  <!-- end task item -->#}
{#                </ul>#}
{#              </li>#}
{#              <li class="footer">#}
{#                <a href="#">View all tasks</a>#}
{#              </li>#}
{#            </ul>#}
{#          </li>#}
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
{#              <img src="/static/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">#}
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">
                 {{ courier.get_namefield }}
              </span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
{#                <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">#}

                <p>
                {{ courier.get_namefield }}

                {% if courier.is_just_courier %}
                    Курьер
                {% elif courier.is_service %}
                    СЦ
                {% else %}
                    Мастер
                {% endif %}
                  <small>Member since {{ courier.auth_field.date_joined }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="col-xs-12">
                  <a href="{% url 'base:logout' %}" id="logout" class="col-xs-12 btn btn-default btn-flat">Выйти</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MENU</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="{% url 'index_admin' %}"><i class="fa fa-link"></i> <span>Все заказы</span></a></li>
        <li><a href="{% url 'responses' %}"><i class="fa fa-link"></i> <span>Ответы на заказы</span></a></li>
        <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Адреса</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
{% block 'page_title' %}{% endblock %}
      </h1>

    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        {% block 'content' %}
        {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
  immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/dist/js/adminlte.min.js"></script>

<script src="{% static 'js/admin_panel.js' %}"></script>
<script src="{% static 'js/js.cookie.js' %}"></script>

<script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.js' %}"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>