{% if order %}
    <div class="box-header with-border">
        <div class="box-title">
            <h3>Текущая заявка: {{ order.item }}</h3>
        </div>
    </div>
    <div class="box-body">

        <div class="col-xs-12 current_order-body" data-orderID="{{ order.pk }}">
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <h4><strong>Адрес:</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <strong>Город:</strong>
                            </div>
                            <div class="row">
                                {{ order.address.city }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <strong>Улица:</strong>
                            </div>
                            <div class="row">
                                {{ order.address.street }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <strong>Дом:</strong>
                            </div>
                            <div class="row">
                                {{ order.address.house }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <strong>Квартира:</strong>
                            </div>
                            <div class="row">
                                {{ order.address.room }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4><strong>Описание проблемы:</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ order.case }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <h4><strong>Контакты:</strong></h4>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ order.contact.phone }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    {{ order.contact.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
    <div class="box-tools">
            <button class="btn btn-danger col-xs-12" id="close_order" data-id="{{ order.pk }}">Закрыть заявку</button>
        </div>
    </div>
{% else %}
    {'error':"У вас нет заявки"}
{% endif %}