{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V14</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static "icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "plugins/animate/animate.css"%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "plugins/css-hamburgers/hamburgers.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "plugins/animsition/css/animsition.min.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "plugins/select2/select2.min.css"%}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%  static "plugins/daterangepicker/daterangepicker.css"%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css"%}">
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" method="post" action="{% url 'base:login' %}">
					<span class="login100-form-title p-b-32">
                        Войти в систему
					</span>
                    {% if error %}
                    <span style="width:100%; background-color: #c00900; color: #fff; border-radius: 2px;
 font-weight: bold;" class="p-b-11 p-l-10 p-t-8 m-b-10">
                        Ошибка: {{ error }}
                    </span>
                    {% endif %}
					<span class="txt1 p-b-11">
						Логин
					</span>
					<div class="wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						Пароль
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="pass" >
						<span class="focus-input100"></span>
					</div>
                    <div class="g-recaptcha" data-sitekey="6LfC2VgUAAAAAKLDbmR7LompPGYl11_JaEH_b-hh"></div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Войти
						</button>
					</div>
                    {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static "bower_components/jquery/dist/jquery.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "plugins/animsition/js/animsition.min.js"%}"></script>
<!--===============================================================================================-->
	<script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js"%}"></script>
<!--===============================================================================================-->


<!--===============================================================================================-->
<!--===============================================================================================-->
	<script src="{% static "js/login.js"%}"></script>

</body>
</html>