{% extends 'base/base.html' %}
{% block 'page_title' %}Заказы на которые вы ответили{% endblock %}
{% block 'content' %}
    <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div>
                            <table class="table table-bordered" id="responses_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>
                                        Тип
                                    </th>
                                    <th>Марка</th>
                                    <th>
                                        Модель
                                    </th>
                                    <th>
                                        Случай
                                    </th>
                                </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}