{% extends 'base/base.html' %}
{% block 'content' %}
<div class="callout callout-danger" id="close-order__callout" style="display: none">
     <h4>Ошибка</h4>
     <p></p>
 </div>
<div class="row">
 <div class="col-xs-12">
     <div class="box box-danger box-solid" id="current_order">
        <div class="box-header with-border">
            <div class="box-title">
                <h3>Текущая заявка:</h3>
            </div>
        </div>
         <div class="box-body">
             У вас пока нет заявок.
         </div>
     </div>

 </div>
</div>
<div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div>
                            <table class="table table-bordered" id="orders_table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>
                                        Тип
                                    </th>
                                    <th>Марка</th>
                                    <th>
                                        Модель
                                    </th>
                                    <th>
                                        Случай
                                    </th>
                                    <th>Ответить на заявку</th>
                                </tr>
                                </thead>
                                <tbody></tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}