{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="ru">
  <head>
  <meta charset="utf-8">
  <title>Трендовые сумки 2018 года</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css'  %}">
  <link rel="stylesheet" href="{% static 'css/style.css'  %}">
  </head>  
 
  <body class="is-home" id="home">

  <div id="home"></div>  

  <header class="header">
    <div class="navigation">
      <nav class="navbar navbar-toggleable-lg" id="mainNav">
      <a class="nav-link nav-link-mob" href="#"><img src="/static/img/logo.png" alt="" class="logo logo-mob"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="container container-navbar justify-content-center">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav link-nav">
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" href="#home">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#advantage">Преимущества</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#how">Как мы работаем</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-logo">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#home"><img src="/static/img/logo.png" alt="" class="logo"></a>
            </li>
          </ul>
          <ul class="nav navbar-nav link-nav link-nav-adapt">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#reviews">Отзывы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contacts">Контакты</a>
            </li>
             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Прайс</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>
    </div>
  </header>

  <div class="first-screen">

    <div class="laptop-wrapper">
      <div class="laptop-img">
        <img src="/static/img/laptop.jpg" alt="" class="img-adapt">
      </div>
      <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DQOMIKC8GBI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="laptop-text">
      <h1 class="laptop-h1">Logotype service</h1>
      <h2 class="laptop-h2">Выездной ремонт вашей техники</h2>
      <p>Ремонт телефонов, ноутбуков, стиральных машин и прочей бытовой техники и электроники.</p>
      <p>Оставьте заявку и к вам приедет мастер, сделает диагностику и починит устройство.</p>
      <p>Если ремонт на месте не возможен, то мы доставим устройство в нужный сервисный центр</p>
      <div class="btn-wrapper">
        <a href="#how" class="btn btn-laptop js-scroll-trigger" onfocus=blur();>Узнать больше</a>
      </div>

      </div>
    </div>

    <div class="form-wrapper">
      <form class="form-header" method="post" action="{% url 'base:orders' %}">
        <div class="form-group">
          <select class="form-control" id="select1" name="item_type">
            <option>Тип</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="select2" name="item_brand">
            <option>Марка</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="input1" name="item_model" placeholder="Модель">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="street" id="input2" placeholder="Улица">
          <input type="text" class="form-control" name="house" id="input3" placeholder="Дом">
        </div>
         <div class="form-group">
          <textarea class="form-control" id="textarea" name="case" rows="4"></textarea>
        </div>
      <div class="btn-wrapper">
        <button class="btn btn-submit" onfocus=blur(); type="submit">Отправить заявку</button>
      </div>
      <div class="phone">
        <i class="fa fa-phone" data-fa-transform="rotate-90" style="margin-right: 15px;"></i><span>8-800-333-333</span>
      </div>
          {% csrf_token %}
      </form>
      </div>

  </div>

  <section class="advantage" id="advantage">
    <div class="container container-adv">
      <div class="row row-adv">
        <div class="col-xl-12 text-center">
          <h3 class="h3-adv">Преимущества</h3>
          <p class="sub-adv">Мы приятно удивим вас...</p>
      </div>
      </div>
      <div class="row">
        <div class="col-xl-4 text-center">
          <div class="advntg-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad1.png" alt="">
            </div>
            <div class="advntg-title-item">
              Выезд в любую точку
            </div>
            <div class="advntg-text-item">
              Мастер приедет в удобное вам место и назовет цену ремонта.
            </div>
          </div>
        </div>
        <div class="col-xl-4 text-center">
          <div class="advntg-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad2.png" alt="">
            </div>
            <div class="advntg-title-item">
              Мастера с руками из плеч
            </div>
            <div class="advntg-text-item">
              Наши специалисты имеют высокую квалификацию и постоянно совершествуются.
            </div>
          </div>
        </div>
        <div class="col-xl-4 text-center">
          <div class="advntg-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad3.png" alt="">
            </div>
            <div class="advntg-title-item">
              Надежность
            </div>
            <div class="advntg-text-item">
              Мы работаем с проверенными сервисными центрами, которые предоставляют гарантию.
            </div>
          </div>
        </div>
        <div class="col-xl-4 text-center">
          <div class="advntg-item row2-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad4.png" alt="">
            </div>
            <div class="advntg-title-item">
              Быстрый ремонт
            </div>
            <div class="advntg-text-item">
              Ремонт проходит в максимально быстрые сроки.
            </div>
          </div>
        </div>
        <div class="col-xl-4 text-center">
          <div class="advntg-item row2-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad5.png" alt="">
            </div>
            <div class="advntg-title-item">
              Прозрачность
            </div>
            <div class="advntg-text-item">
              В любой момент вы можете узнать где и на какой стадии находится ваше устройство через ЛК или Telegram.
            </div>
          </div>
        </div>
        <div class="col-xl-4 text-center">
          <div class="advntg-item row2-item">
            <div class="advntg-img-item">
              <img src="/static/img/ad6.png" alt="">
            </div>
            <div class="advntg-title-item">
              Подменное устройство
            </div>
            <div class="advntg-text-item">
              Если ваш смартфон или ноутбук нуждается в стационарном ремонте, то на это время мы предоставим вам подменное устройство.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="how" id="how">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <h3 class="h3-how">Как мы работаем?</h3>
          <p class="sub-how">Мы упростим вам жизнь...</p>
        </div>
      </div>
    </div>
    <div class="container-how">
      <div class="row">
    <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row1">
            <img src="/static/img/arrow-down.png" alt="" class="arrow ar2 block-mob">
            <img src="/static/img/arrow-right.png" alt="" class="arrow ar1 hide-mob">
            <div class="how-title-item">Оставьте заявку<br> мастер свяжется с вами</div>
            <div class="how-img-item" data-toggle="tooltip" data-placement="top" title="Вы заполняете заявку и в ближайшее время Вам звонит мастер для уточнения данных.">
              <img src="/static/img/how1.png" alt="" class="img-icon">
              <img src="/static/img/how-g1.png" alt="" class="img-hover">
            </div>
          </div>
        </div>
    <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row1">
            <img src="/static/img/arrow-right.png" alt="" class="arrow ar1 ar-rotate hide-mob">
            <img src="/static/img/arrow-down.png" alt="" class="arrow ar2">
            <div class="how-title-item">Мастер оценит проблему на месте<br> и назовет цену</div>
            <div class="how-img-item" data-toggle="tooltip" data-placement="top" title="В назначенном месте он оценит поломку и назовет цену, которую вы так же можете узнать в прайс-листе.">
              <img src="/static/img/how2.png" alt="" class="img-icon">
              <img src="/static/img/how-g2.png" alt="" class="img-hover">
            </div>
          </div>
        </div>
    <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row1">
          <img src="/static/img/arrow-down.png" alt="" class="arrow ar2 block-mob">
            <div class="how-title-item">Устранение не серьезных поломок<br> на месте</div>
            <div class="how-img-item" data-toggle="tooltip" data-placement="top" title="Если поломка не серьезная, то он устранит ее на месте.">
              <img src="/static/img/how3.png" alt="" class="img-icon img3">
              <img src="/static/img/how-g3.png" alt="" class="img-hover">
            </div>
          </div>
    </div>

    <div class="col-xl-3 adapt-hide"></div>
    <div class="col-xl-3 adapt-hide"></div>

     <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row2">
            <img src="/static/img/arrow-down.png" alt="" class="arrow ar2 block-mob">
            <img src="/static/img/arrow-right.png" alt="" class="arrow ar1 aar1 hide-mob">
            <div class="how-img-item" data-toggle="tooltip" data-placement="bottom" title="Если это невозможно, то мы направим ваше устройство в наиболее подходящий сервисный центр.">
              <img src="/static/img/how4.png" alt="" class="img-icon img4">
              <img src="/static/img/how-g4.png" alt="" class="img-hover">
            </div>
            <div class="how-title-item">При серьезных поломках - <br> направим в сервисный центр</div>
          </div>
        </div>
    <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row2">
            <img src="/static/img/arrow-down.png" alt="" class="arrow ar2 block-mob">
            <img src="/static/img/arrow-right.png" alt="" class="arrow ar1 hide-mob">
            <div class="how-img-item" data-toggle="tooltip" data-placement="bottom" title="При этом вы можете получить от нас ноутбук или смартфон на замену своему на время ремонта.">
              <img src="/static/img/how5.png" alt="" class="img-icon img5">
              <img src="/static/img/how-g5.png" alt="" class="img-hover">
            </div>
            <div class="how-title-item">Получите временное устройство<br> взамен вашего</div>
          </div>
        </div>
    <div class="col-xl-3 col-lg-12 text-center col-custom">
          <div class="how-item row2 how-last">
            <div class="how-img-item" data-toggle="tooltip" data-placement="bottom" title="По завершении ремонта мы достави ваше устройство в удобное вам место. Оплатите заказ, когда убедитесь, что все в порядке.">
              <img src="/static/img/how6.png" alt="" class="img-icon img6">
              <img src="/static/img/how-g6.png" alt="" class="img-hover">
            </div>
            <div class="how-title-item">Получите и подтвердите<br> ремонт вашего устройства</div>
          </div>
    </div>


  </div>

    </div>
  </section>

  <section class="rotate" id="reviews">
    <div class="rotate-wrapper">
      <div class="rotate-item">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
      <div class="rotate-item">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
      <div class="rotate-item">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
    </div>
    <div class="rotate-wrapper-two">
      <div class="rotate-item">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
      <div class="rotate-item">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
      <div class="rotate-item rotate-item-last">
        <img src="/static/img/1or.jpg" alt="">
        <div class="rotate-text">
              <span class="rotate-title">
              <h4>Text</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </span>
        </div>
      </div>
    </div>
  </section>

  <section class="partners">
     <div class="container container-partners">
       <div class="row d-flex align-items-center justify-content-center">
         <div class="col-xl-1 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo1.png" alt="" style="width: 80%; max-width: 70px; margin-bottom: 10px;">
           </div>
         </div>
         <div class="col-xl-2 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo4.png" alt="">
           </div>
         </div>
         <div class="col-xl-2 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo3.png" alt="">
           </div>
         </div>
         <div class="col-xl-2 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo4.png" alt="">
           </div>
         </div>
         <div class="col-xl-2 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo3.png" alt="">
           </div>
         </div>
         <div class="col-xl-2 col-lg-4 col-md-6 text-center">
           <div class="item-partners">
             <img src="/static/img/logo4.png" alt="">
           </div>
         </div>
       </div>
     </div>
  </section>

  <section class="contacts" id="contacts">
    <div class="container">
      <div class="row row-contacts">
        <div class="col-xl-12 text-center">
          <h3 class="h3-how">Контакты</h3>
          <p class="sub-how">Нам важно ваше мнение!</p>
        </div>
      </div>
      <div class="row d-flex justify-content-center row-info">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 item-contacts text-center">
          <div class="contacts-icon">
            <i class="fa fa-phone" data-fa-transform="rotate-90"></i>
          </div>
          <div class="contacts-text">
            8-800-333-333
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 item-contacts text-center">
          <div class="contacts-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="contacts-text">
            somemail@hotmail.com
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="wrapper-footer-form">
            <form class="form-footer">
              <div class="form-group">
                <input type="text" class="form-control" id="input4" placeholder="ФИО">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="input5" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="tel" class="form-control" id="input6" placeholder="Телефон">
              </div>
               <div class="form-group">
                <textarea class="form-control" id="textarea" rows="8" placeholder="Введите ваше сообщение"></textarea>
              </div>
              <div class="btn-wrapper">
                <button class="btn btn-submit" onfocus=blur(); type="submit">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row ">
        <div class="col-xl-12  text-center footer-text">
          Copyright©Logotype. All rights reserved.
        </div>
      </div>
    </div>
  </footer>
<!-- END FOOTER -->   
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/fontawesome-all.min.js"></script>
    <script src="/static/js/easing.js"></script>
    <script src="/static/js/main.js"></script>
</div>
</body>
</html>