<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>LOGOTYPE SERVICE | Выездной ремонт вашей техники</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<link rel="shortcut icon" href="static/assets/images/favicon.png" type="image/png">
	<!-- Css -->
	<link rel="stylesheet" href="static/assets/css/style.css">
	<!-- ebd Css -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- end Font Awesome -->
	<!-- Nice Select -->
	<link rel="stylesheet" href="static/assets/css/nice-select.css">
	<!-- end Nice Select -->
	<!-- Swiper -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css">
	<!-- end Swiper -->
	<!-- FancyBox -->
	<link rel="stylesheet" href="static/assets/css/jquery.fancybox.min.css">
	<!-- end FancyBox -->
    <link rel="stylesheet" href="/static/css/bootstrap.css">

</head>
<body>

	<!-- Mobile menu -->
	<div class="m__menu__">
		<ul class="m__menu__nav">
			<li><a class="ancor__M" href="#advantages">ПРЕИМУЩЕСТВА</a></li>
			<li><a class="ancor__M" href="#about">КАК МЫ РАБОТАЕМ</a></li>
			<li><a class="ancor__M" href="#contact">КОНТАКТЫ</a></li>
			<li><a href="#">ПРАЙС</a></li>
			<li><a href="#" class="close">Закрыть</a></li>
		</ul>
	</div>
	<!-- end Mobile menu -->

	<!-- Header -->
	<header>
		<div class="wrap">
			<ul class="nav">
				<li><a href="#advantages" class="ancor__">ПРЕИМУЩЕСТВА</a></li>
				<li><a href="#about" class="ancor__">КАК МЫ РАБОТАЕМ</a></li>
			</ul>
			<div class="logo">
				<a href="index.html">
					<img src="static/assets/images/logo.png" alt="logo">
				</a>
			</div>
			<ul class="nav">
				<li><a href="#contact" class="ancor__">КОНТАКТЫ</a></li>
				<li><a href="#">ПРАЙС</a></li>
			</ul>
			<ul class="socials">
				<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
			</ul>
			<a href="#" class="Toogle_menu"><i class="fa fa-bars" aria-hidden="true"></i></a>
		</div>
	</header>
	<!-- end Header -->

	<!-- Home -->
	<div class="home">
		<div class="particles" id="particles">
			
		</div>
		<div class="wrap">
			<div class="home_contect">
				<h1>LOGOTYPE SERVICE <span>Выездной ремонт вашей техники</span></h1>
				<p>Ремонт телефонов, ноутбуков, стиральных машин и прочей бытовой техники и электроники.</p>
				<p>Оставьте заявку и к вам приедет мастер, сделает диагностику и починит устройство.</p>
				<p>Если ремонт на месте не возможен, то мы доставим устройство в нужный сервисный центр</p>
				<div class="order__home">
					<a href="https://www.youtube.com/watch?v=G7NSaXIEL4Y" data-fancybox class="more__order_green">Смотреть видео</a>
					<a href="#" class="more__order">Узнать больше</a>
				</div>
			</div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
			<div class="form_content">
                {{ message }}
				<form method="post" action="{% url 'base:orders' %}">>
					<div class="el_">
						<select name="item_type" required>
							<option value="Тип">Тип</option>
						</select>
					</div>
					<div class="el_">
						<input type="text" name="item_model" placeholder="Модель" required>
					</div>
					<div class="el_">
						<input type="text" name="phone" placeholder="Номер телефона" required>
					</div>
					<div class="el_">
						<label>
							<input type="text" name="street" placeholder="Улица" required>
							<input type="text" name="house" placeholder="Дом" required>
						</label>
					</div>
					<div class="el_">
						<textarea name="case" placeholder="Опишите проблему"></textarea>
					</div>
					<div class="el_">
						<button type="submit">Отправить заявку</button>
					</div>
					<div class="el_">
						<a href="tel:+73852751875"><i class="fa fa-phone" aria-hidden="true"></i> +7 (3852) 75-18-75</a>
					</div>
                    {% csrf_token %}
				</form>
			</div>
		</div>
	</div>
	<!-- end Home -->

	<!-- Advantages -->
	<div class="advantages" id="advantages">
		<div class="particles" id="particles_2">
			
		</div>
		<div class="wrap">
			<div class="title__section">
				<h2>ПРЕИМУЩЕСТВА</h2>
				<p>Приятно удивим вас ...</p>
			</div>
			<div class="advantages__items">
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-1.png" alt="adw-cio">
					</div>
					<h4>ВЫЕЗД В ЛЮБУЮ ТОЧКУ</h4>
					<p>Мастер приедет в удобное вам место и назовет цену ремонта.</p>
				</div>
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-2.png" alt="adw-cio">
					</div>
					<h4>МАСТЕРА С РУКАМИ ИЗ ПЛЕЧ</h4>
					<p>Наши специалисты имеют высокую квалификацию и постоянно совершенствуются.</p>
				</div>
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-3.png" alt="adw-cio">
					</div>
					<h4>НАДЕЖНОСТЬ</h4>
					<p>Мы работаем с проверенными сервисными центрами, которые предоставляют гарантию.</p>
				</div>
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-4.png" alt="adw-cio">
					</div>
					<h4>БЫСТРЫЙ РЕМОНТ</h4>
					<p>Ремонт проходит в максимально быстрые сроки.</p>
				</div>
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-5.png" alt="adw-cio">
					</div>
					<h4>ПРОЗРАЧНОСТЬ</h4>
					<p>В любой момент вы можете узнать где и на какой стадии находится ваше устройство через личный кабинет или Telegram.</p>
				</div>
				<div class="advantages__item">
					<div class="item__ico">
						<img src="static/assets/images/adw-cio-6.png" alt="adw-cio">
					</div>
					<h4>ПОДМЕННОЕ УСТРОЙСТВО</h4>
					<p>Если ваш смартфон или ноутбук нуждается в стационарном ремонте, то на это время мы предоставим вам подменное устройство.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end Advantages -->

	<!-- About -->
	<div class="about" id="about">
		<div class="wrap">
			<div class="title__section">
				<h2>КАК МЫ РАБОТАЕМ</h2>
				<p>Упростим вам жизнь...</p>
			</div>
			<div class="about__items">
				<div class="about_item">
					<div class="ite__s">
						<p>
							<span class="visible">ОСТАВЬТЕ ЗАЯВКУ МАСТЕР СВЯЖЕТСЯ С ВАМИ</span>
							<span class="hover">Вы заполняете заявку и в ближайшее время Вам звонит мастер для уточнения данных.</span>
						</p>
						<div class="ico">
							<i class="fa fa-television" aria-hidden="true"></i>
						</div>
					</div>
					<div class="ite__s">
						<p>
							<span class="visible">МАСТЕР ОЦЕНИТ ПРОБЛЕМУ НА МЕСТЕ И НАЗОВЕТ ЦЕНУ</span>
							<span class="hover">В назначенном месте он оценит поломку и назовет цену, которую вы так же можете узнать в прайс-листе.</span>
						</p>
						<div class="ico">
							<i class="fa fa-map-o" aria-hidden="true"></i>
						</div>
					</div>
					<div class="ite__s">
						<p>
							<span class="visible">УСТРАНЕНИЕ НЕСЕРЬЕЗНЫХ ПОЛОМОК НА МЕСТЕ</span>
							<span class="hover">Если поломка не серьезная, то он устранит её на месте.</span>
						</p>
						<div class="ico">
							<i class="fa fa-cogs" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="about_item">
					<div class="ite__s">
						
						<div class="ico">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<p>
							<span class="visible">ПРИ СЕРЬЕЗНЫХ ПОЛОМКАХ - НАПРАВИМ В СЕРВИСНЫЙ ЦЕНТР</span>
							<span class="hover">Если это невозможно, то мы направим ваше устройство в наиболее подходящий сервисный центр.</span>
						</p>
					</div>
					<div class="ite__s">
						
						<div class="ico">
							<i class="fa fa-flag-o" aria-hidden="true"></i>
						</div>
						<p>
							<span class="visible">ПОЛУЧИТЕ ВРЕМЕННОЕ УСТРОЙСТВО ВЗАМЕН ВАШЕГО</span>
							<span class="hover">При этом вы можете получить от нас ноутбук или смартфон на замену своему на время ремонта.</span>
						</p>
					</div>
					<div class="ite__s">
						
						<div class="ico">
							<i class="fa fa-check-square-o" aria-hidden="true"></i>
						</div>
						<p>
							<span class="visible">ПОЛУЧИТЕ ВРЕМЕННОЕ УСТРОЙСТВО ВЗАМЕН ВАШЕГО</span>
							<span class="hover">По завершении ремонта мы доставим ваше устройство в удобное вам место. Оплатите заказ, когда убедитесь, что всё в порядке.</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end About -->

	<!-- Footer -->
	<footer id="contact">
		<div class="wrap">
			<div class="title__section">
				<h2>МЫ ГОРДИМСЯ РАБОТОЙ</h2>
				<p>С ЛУЧШИМИ КОМПАНИЯМИ</p>
			</div>
			<div class="partners__slider swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide partners__slider_item">
						<img src="static/assets/images/p-1.png" alt="partners__slider_item">
					</div>
					<div class="swiper-slide partners__slider_item">
						<img src="static/assets/images/p-2.png" alt="partners__slider_item">
					</div>
					<div class="swiper-slide partners__slider_item">
						<img src="static/assets/images/p-3.png" alt="partners__slider_item">
					</div>
					<div class="swiper-slide partners__slider_item">
						<img src="static/assets/images/p-2.png" alt="partners__slider_item">
					</div>
					<div class="swiper-slide partners__slider_item">
						<img src="static/assets/images/p-3.png" alt="partners__slider_item">
					</div>
				</div>
				<!-- Add Arrows -->
			    <div class="swiper-button-next"></div>
			    <div class="swiper-button-prev"></div>
			</div>
			<div class="footer__menu">
				<div class="logo">
					<a href="index.html">LOGOTYPE</a>
					<span>Все права защищены © 2018</span>
				</div>
				<div class="menu__f">
					<ul>
						<li>ЕСТЬ ВОПРОС - ПОЗВОНИ</li>
						<li><a href="tel:74952222222">+7 495 222-22-22</a></li>
					</ul>
					<ul>
						<li><a href="#">ПОЛИТИКА КОНФИДЕЦИАЛЬНОСТИ</a></li>
						<li><a href="#">СПОСОБЫ ОПЛАТЫ</a></li>
					</ul>
					<ul>
						<li><a href="#">ПАРТНЕРЫ</a></li>
						<li><a href="#">СОТРУДНИЧЕСТВО</a></li>
					</ul>
					<ul>
						<li><a href="#">НАПИШИ НАМ</a></li>
						<li><a href="#">LOGOTYPE@LOGO.RU</a></li>
					</ul>
				</div>
				<ul class="socials">
					<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- end Footer -->
	







	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Nice Select -->
	<script src="static/assets/js/jquery.nice-select.js"></script>
	<!-- end Nice Select -->
	<!-- Swiper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
	<!-- end Swiper -->
	<!-- FancyBox -->
	<script src="static/assets/js/jquery.fancybox.min.js"></script>
	<!-- end FancyBox -->
	<!-- Particles -->
	<script src="static/assets/js/particles.min.js"></script>
	<!-- end Particles -->
	<!-- HeadHesive -->
	<script src="static/assets/js/headhesive.min.js"></script>
	<!-- end HeadHesive -->
	<script src="static/assets/js/script.js"></script>
	<!-- end Script -->
</body>
</html>