{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LOGOTYPE</title>
    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
{# social btns and login/registarion #}
</header>
<section class="container-fluid">
    <article class="row" id="top__main">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12" id="logo">
                    <h1>LOGOTYPE</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-md-offset-3">
                    <form action="{% url 'base:orders' %}">
                        <div class="row">
                            <div class="col-xs-6" id="item-selectors">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select name="" id="" class="form-control">
                                            <option value="">Тип</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select name="" id="" class="form-control">
                                            <option value="">Марка</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select name="" id="" class="form-control">
                                            <option value="">Модель</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder="Город">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" placeholder=" Улица">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Дом">
                                </div>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" placeholder="Кв">
                                </div>
                            </div>
                        </div>
                            </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <textarea class="form-control">Опишите проблему</textarea>
                            </div>
                        </div>
                        <div class="row" id="form-btns">
                            <div class="col-xs-6">
                                <button class="btn btn-success">
                                    Заявка во все сервисы
                                </button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-default">
                                    Искать на карте
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
    <article class="row" id="advantages">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-center text-uppercase" id="advantages-header">
                    <h3>преимущества:</h3>
                    <p><span>.........</span><span id="arrow_down--icon">&nbsp;</span><span>.........</span></p>
                </div>
            </div>
            <div class="row" id="advantages-body">
                <div class="col-xs-4 text-center">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <img src="{% static 'img/Clock.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>Быстро</strong>
                            <p>Описание функции максимально подробное. Заполнить позже</p>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4 text-center">
<div class="row">
                        <div class="col-xs-12 ">
                            <img src="{% static 'img/Qualitatively.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>Качественно</strong>
                            <p>Описание функции максимально подробное. Заполнить позже</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 text-center" >
<div class="row">
                        <div class="col-xs-12 ">
                            <img src="{% static 'img/Available.png' %}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <strong>Доступно</strong>
                            <p>Описание функции максимально подробное. Заполнить позже</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="row" id="help_brand">
        <div class="col-xs-12 help_brand--left">
            <div class="row">
                <div class="col-xs-6">
                    <p class="text-uppercase">Вы можете помочь бренду</p>
                    <h2>Упростите жизнь себе и своим близким</h2>
                    <p class="text-uppercase">Вот почему мы явдяемся брендом №1 во всем мире</p>
                    <p>Хотели бы вы иметь в одном месте легкий и доступный поиск по ремонту вашей техники? Мы с радостью готовы
                        помочь решить ваши проблемы с техникой, абсолютно любого уровня
                    </p>
                </div>
                <div class="col-xs-6">

                </div>
            </div>
        </div>
    </article>
</section>
</body>
</html>